<%= form_for(@set_price) do |f| %>
  <% if @set_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@set_price.errors.count, "error") %> prohibited this set_price from being saved:</h2>

      <ul>
      <% @set_price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table class="table table-striped">
  <thead>
    <tr>
      <th><%=t(:line_no)%></th>    
      <th><%=t(:product)%></th>
      <th><%=t(:step1)%></th>
      <th><%=t(:step2)%></th>
      <th><%=t(:step3)%></th>
      <th><%=t(:step4)%></th>
      <th><%=t(:step5)%></th>
      <th><%=t(:step6)%></th>
      <th><%=t(:step7)%></th>
      <th><%=t(:step8)%></th>
      <th><%=t(:step9)%></th>
      <th><%=t(:step10)%></th>
      <th><%=t(:step11)%></th>
      <th><%=t(:step12)%></th>
      <th><%=t(:step13)%></th>
      <th><%=t(:step14)%></th>
      <th><%=t(:step15)%></th>
      <th><%=t(:step16)%></th>                  
      <th><%=t(:extra_price)%></th>     
      <th><%=t(:released_at)%></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= f.text_field :line_no %></td>
        <td><%= f.collection_select(:item_id, Item.all.order(:partNo), :id, :partNo) %></td>
        <td><%= f.text_field :step1, :class => 'text_field' %></td>
        <td><%= f.text_field :step2, :class => 'text_field' %></td>
        <td><%= f.text_field :step3, :class => 'text_field' %></td>
        <td><%= f.text_field :step4, :class => 'text_field' %></td>
        <td><%= f.text_field :step5, :class => 'text_field' %></td>
        <td><%= f.text_field :step6, :class => 'text_field' %></td>
        <td><%= f.text_field :step7, :class => 'text_field' %></td>
        <td><%= f.text_field :step8, :class => 'text_field' %></td>
        <td><%= f.text_field :step9, :class => 'text_field' %></td>
        <td><%= f.text_field :step10, :class => 'text_field' %></td>
        <td><%= f.text_field :step11, :class => 'text_field' %></td>
        <td><%= f.text_field :step12, :class => 'text_field' %></td>
        <td><%= f.text_field :step13, :class => 'text_field' %></td>
        <td><%= f.text_field :step14, :class => 'text_field' %></td>
        <td><%= f.text_field :step15, :class => 'text_field' %></td>
        <td><%= f.text_field :step16, :class => 'text_field' %></td>                                        
        <td><%= f.text_field :extra_price, :class => 'text_field' %></td>                
        <td><%= f.text_field :released_at %></td>
      </tr>
  </tbody>
</table>

<div class="actions">
<%= f.submit %>
</div>

<% end %>