<%= form_for(@set_price) do |f| %>
  <% if @set_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@set_price.errors.count, "error") %> prohibited this set_price from being saved:</h2>

      <ul>
      <% @set_price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table class="table table-striped">
  <thead>
    <tr>
      <th><%=t(:product)%></th>
      <th><%=t(:price)%></th>
      <th><%=t(:order_quantity)%></th>
      <th><%=t(:sell_by)%></th>
      <th><%=t(:base_price)%></th>
      <th><%=t(:extra_price)%></th>     
      <th><%=t(:released_at)%></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= f.collection_select(:item_id, Item.all, :id, :partNo) %></td>
        <td><%= f.text_field :price, :class => 'text_field' %></td>
        <td><%= f.text_field :order_quantity %></td>
        <td><%= f.text_field :sell_by %></td>
        <td><%= f.text_field :base_price, :class => 'text_field' %></td>
        <td><%= f.text_field :extra_price, :class => 'text_field' %></td>                
        <td><%= f.text_field :released_at %></td>
      </tr>
  </tbody>
</table>

<div class="actions">
<%= f.submit %>
</div>

<% end %>