<%- model_class = SetPrice -%>
<div class="page-header">
  <h1><%=t(:set_price_list) %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>PartNo</th>
      <th colspan="5">OEM</th>  
      <th colspan="5">ODM</th>
    <tr>
      <th>PartNo</th>
      <% if @step_quantities %>      
        <% @step_quantities.each do |volume| %>
          <th><%= volume %></th>
        <% end %>  
        <% @step_quantities.each do |volume| %>
          <th><%= volume %></th>
        <% end %>   
      <% end %>                 
    </tr>
  </thead>
  <tbody>
 
  <% if (@price_list_prices && @price_list_ids) %>
    <% @price_list_prices.each_with_index do |line, index| %>
      <tr>
      <% line.each_with_index do |price, column| %>   
        <% if column > 0 %>   
          <td><%= link_to price, set_price_path(@price_list_ids[index][column]) %></td>
        <% else %>
          <td><%= price %></td>
        <% end %>
      <% end  %>
      </tr>
    <% end  %>
  <% end %>  
  </tbody>
</table>


<p>
</br>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Advanced: Export, Import set prices
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <h4>Export Set Price:</h4>
    <%= link_to "Export CSV", set_prices_path(format: "csv"),:class => "btn btn-primary" %> |
    <%= link_to "Export Excel", set_prices_path(format: "xls"),:class => "btn btn-primary" %>
    
    
    <h4>Import Set Price</h4>
    <%= form_tag import_set_prices_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import set price list",:class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
</br>
</br>


<div class="page-header">
  <h1><%=t(:set_price) %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%=t(:part_number)%></th>
      <th><%=t(:price)%></th>
      <th><%=t(:order_quantity)%></th>  
      <th><%=t(:sell_by)%></th> 
      <th><%=t(:base_price)%></th>
      <th><%=t(:extra_price)%></th>         
      <th><%=t(:released_at)%> </th>
      <th><%=t(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @set_prices.each do |set_price| %>
      <tr>
        <td><%= link_to set_price.id, set_price_path(set_price) %></td>
        <td><%= set_price.item.partNo %></td> 
        <td><strong>¥<%= set_price.price %></strong></td>
        <td><%= set_price.order_quantity %></td>  
        <td><%= set_price.sell_by %></td> 
        <td>¥<%= set_price.base_price %></td>
        <td>¥<%= set_price.extra_price %></td>
        <td><%= set_price.released_at.strftime("%F") if set_price.released_at %></td>
        <td><%= set_price.created_at.strftime("%F") if set_price.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_set_price_path,
            :class => 'btn btn-primary' %>

</br>