<%- model_class = SetPrice -%>
<div class="page-header">
  <h1><%=t(:set_price) %></h1>
</div>

<!-- <p id="notice"><= notice ></p> -->

<p>
  <b>PartNo:</b>
  <%= @set_price.item.partNo %>
</p>

<p>
  <b>Price:</b>
  <%= @set_price.price %>
</p>

<p>
  <b>Order quantity:</b>
  <%= @set_price.order_quantity %>
</p>

<p>
  <b>sell_by:</b>
  <%= @set_price.sell_by %>
</p>

<p>
  <b>Base price:</b>
  <%= @set_price.base_price %>
</p>

<p>
  <b>Extra Price:</b>
  <%= @set_price.extra_price %>
</p>

<p>
  <b>released_at:</b>
  <%= @set_price.released_at %>
</p>

<%= link_to 'Edit', edit_set_price_path(@set_price) %> |
<%= link_to 'Back', set_prices_path %>