<%- model_class = SetPrice -%>
<div class="page-header">
  <h1><%=t(:set_price) %></h1>
</div>

<!-- <p id="notice"><= notice ></p> -->
<p>
  <b>LineNo:</b>
  <%= @set_price.line_no %>
</p>

<p>
  <b>PartNo:</b>
  <%= @set_price.item.partNo %>
</p>

<p>
  <b>step1:</b>
  <%= @set_price.step1 %>
</p>
<p>
  <b>step2:</b>
  <%= @set_price.step2 %>
</p>
<p>
  <b>step3:</b>
  <%= @set_price.step3 %>
</p>
<p>
  <b>step4:</b>
  <%= @set_price.step4 %>
</p>
<p>
  <b>step5:</b>
  <%= @set_price.step5 %>
</p>
<p>
  <b>step6:</b>
  <%= @set_price.step6 %>
</p>
<p>
  <b>step7:</b>
  <%= @set_price.step7 %>
</p>
<p>
  <b>step8:</b>
  <%= @set_price.step8 %>
</p>
<p>
  <b>step9:</b>
  <%= @set_price.step9 %>
</p>
<p>
  <b>step10:</b>
  <%= @set_price.step10 %>
</p>
<p>
  <b>step11:</b>
  <%= @set_price.step11 %>
</p>
<p>
  <b>step12:</b>
  <%= @set_price.step12 %>
</p>
<p>
  <b>step13:</b>
  <%= @set_price.step13 %>
</p>
<p>
  <b>step14:</b>
  <%= @set_price.step14 %>
</p>
<p>
  <b>step15:</b>
  <%= @set_price.step15 %>
</p>
<p>
  <b>step16:</b>
  <%= @set_price.step16 %>
</p>
<p>
  <b>Extra Price:</b>
  <%= @set_price.extra_price %>
</p>

<p>
  <b>released_at:</b>
  <%= @set_price.released_at %>
</p>

<%= link_to 'Edit', edit_set_price_path(@set_price) %> |
<%= link_to 'Back', set_prices_path %>