<div class="page-header">
  <h1><%= t(:dashboard) %> <small>Welcome <%= current_user.name %>!</small></h1>
</div>

<%= render 'shared/delivery_status_modal'%>
<h3><%= t(:order)%> (<%=t(:unissued)%>) <small><%= link_to("all", orders_path) %></small>
  <%= link_to t(:new_order), new_order_path, :class=>"btn btn-primary" %>
</h3>
<table class="table">
  <thead>
    <tr>
      <th><h4>#<%=t(:customer_po) %>#</h4></th>
      <th><h4><%=t(:customer)%></h4></th>
      <th><h4><%=t(:show_date)%></h4></th>
      <th><h4><%=t(:product_name)%></h4></th>
      <th><h4><%=t(:part_number)%></h4></th>
      <th><h4><%=t(:price)%></h4></th>
      <th><h4><%=t(:quantity)%></h4></th>
      <th><h4><%=t(:quantity_left)%></h4></th>
      <th><h4><%=t(:suble_total)%></h4></th>
      <th><h4><%=t(:actions)%></th></th>
    </tr>
  </thead>

  <% @orders.each do |order| %>

  <% if order.customer.currency == 'RMB'
        currency_unit = '¥'
      else
        currency_unit = '$'
      end %>

  <% if not order.line_items.nil? then %>
    <% order.line_items.each do |line_item|%>
      <% if line_item.quantity > line_item.quantity_issued %>
        <tr>
          <td>#<%= link_to(order.order_number, order_path(order.id))%>-<%= link_to(order.id,order_path(order.id)) %></td>
          <td><%= order.customer.short_name %></td>
          <td><%= order.created_at.strftime("%F") %>
          <td><%= line_item.item.name %> </td>
          <td><%= line_item.full_part_number %> </td>
              <% line_price = line_item.show_currency_price(order.exchange_rate, order.customer.currency) %>
          <td><%= number_to_currency(line_price, unit: currency_unit) %> </td>
          <td>x<%= line_item.quantity %> </td>
          <td> <%= line_item.quantity - line_item.quantity_issued %> </td>
          <td><%= number_to_currency(line_item.total_currency_price(order.exchange_rate, order.customer.currency), unit: currency_unit) %></td>
          <td>
          <% if line_item.quantity > line_item.quantity_issued then %>
            <%= link_to t(:issue), new_sales_order_path(:customer_id => order.customer.id) %>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <% end %>
</table>

</br>
<!-- Listing sales orders -->
<h3> <%= t(:sales_orders)%>(今年)
  <small>  <a data-toggle="modal" href="" data-target="#salesOrderReportModal"><%=t(:overview)%> </a></small>
</h3>
<table class="table">
  <thead>
    <tr>
      <th><h4><%=t(:sales_orders)%>#</h4></th>
      <th><h4><%=t(:customer)%></h4></th>
      <th><h4><%=t(:refer_po)%>#</h4></th>
      <th><h4><%=t(:product_name)%></h4></th>
      <th><h4><%=t(:part_number)%></h4></th>
      <th><h4><%=t(:price)%></h4></th>
      <th><h4><%=t(:quantity)%></h4></th>
      <th><h4><%=t(:suble_total)%></h4></th>
      <th><h4><%=t(:ship_date)%></h4></th>
    </tr>
  </thead>

  <% @sales_orders.each do |order| %>
    <% if order.customer.currency == 'RMB'
          currency_unit = '¥'
        else
          currency_unit = '$'
        end %>

    <% if not order.line_items.nil? then %>
      <% order.line_items.each do |line_item|%>
      <% order_number = find_order_number_from_reference(line_item.refer_line_id) %>
        <tr>
          <td>#<%= link_to(order.serial_number, sales_order_path(order.id)) %>-<%= link_to(order.id,sales_order_path(order.id)) %></td>
          <td><%= order.customer.short_name %></td>
          <td><%= order_number%></td>
          <td><%= line_item.item.name %> </td>
          <td><%= line_item.full_part_number %> </td>
          <% line_price = line_item.show_currency_price(order.exchange_rate, order.customer.currency) %>
          <td><%= number_to_currency(line_price, unit: currency_unit) %> </td>
          <td>x<%= line_item.quantity %> </td>
          <td><%= number_to_currency(line_item.total_currency_price(order.exchange_rate, order.customer.currency), unit: currency_unit) %></td>
          <td>
            <% if order.delivery_date %>
              <% if order.delivery_status %>
                <a data-toggle="tooltip" data-placement="top" title=<%= "ship:#{order.delivery_status}" %> >
                  <%= order.delivery_date.to_date%></a>
              <% else %>
                 <a class="shipLink" href="" data-toggle="modal" data-target="#deliveryStatusModal"
                 data-id=<%="#{order.id}" %> > <%=order.delivery_date.to_date %> </a>
              <% end %>
            <% else %>
              <%= link_to(t(:ship_now), confirm_sales_order_path(order.id)) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
</br>

<!-- sales_orders report modal-->
<div class="modal fade" id="salesOrderReportModal" tabindex="-1" role="dialog" aria-labelledby="salesOrderReportModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=t(:sales_orders)%>(<%=t(:overview)%>)</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tr>
            <th><%=t(:part_number)%>#</th>
            <th><%=t(:last_month)%></th>
            <th><%=t(:this_month)%></th>
            <th><%=t(:this_quarter)%></th>
            <th><%=t(:last_1_quarter)%></th>
            <th><%=t(:last_2_quarter)%></th>
            <th><%=t(:last_3_quarter)%></th>
            <th><%=t(:last_year)%></th>

            <% @main_items.each do |item| %>
              <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                  <td><%= item.partNo %></td>
                  <td><%= @last_month_line_items.where(item_id: item.id).sum("quantity")%></td>
                  <td class="text-primary"><%= @this_month_line_items.where(item_id: item.id).sum("quantity")%></td>
                  <td class="text-primary"><%= @this_quarter_line_items.where(item_id: item.id).sum("quantity")%></td>
                  <td><%= @last_quarter_line_items.where(item_id: item.id).sum("quantity")%></td>
                  <td><%= @last_2nd_quarter_line_items.where(item_id: item.id).sum("quantity")%></td>
                  <td><%= @last_3rd_quarter_line_items.where(item_id: item.id).sum("quantity")%></td>
                  <td><%= @last_year_line_items.where(item_id: item.id).sum("quantity")%></td>
              </tr>
            <% end %>

        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</br>
