<div class="modal fade" id="productsModal" tabindex="-1" role="dialog" aria-labelledby="productsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">add products to cart: <%= current_customer.name %></h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>PartNo</th>
            <th></th>
            <th></th>
            <th>Package</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>

          <% if not @customers.nil? then %>
            <% @main_items.each do |item| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
              <%= form_tag(line_items_path(:item_id => item), remote: true) do %>
                <td><%= item.name %></td>
                <td><strong><%= item.partNo %></strong></td>
                <td><%= select_tag("addition", options_from_collection_for_select(@option_items, "id","partNo")) if item.assembled == 'yes'%></td>
                <td><%= select_tag("suffix", options_for_select(Item::FW_MARK_TYPES)) if item.assembled == 'yes'%></td>
                <td><%= item.package %></td>
                <td>¥<%= current_customer.get_special_price(item)%></td>
                <td><%= text_field_tag(:quantity, item.mop, placeholder: item.mop, size:10) %></td>
                <td><%= submit_tag("add") %></td>
              <% end %>
            </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
