<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
  <%= f.label :name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :address, :class => 'control-label'%>
  <div class="controls">
    <%= f.text_area :address, :class => 'text_area',:rows=> 4, placeholder:'Please enter address'  %>
  </div>
</div>
<div class="control-group">
  <%= f.label :since, :class => 'control-label' %>
  <div class="controls">
    <%= f.date_select :since, :class => 'date_select' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :balance, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :balance, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :contact, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :contact, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :telephone, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :telephone, :class => 'text_field' %>
  </div>
</div>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
  customers_path, :class => 'btn' %>
</div>
<% end %>
