<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attachment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @attachment.description %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
