<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @setting.name %>
</p>

<p>
  <b>Value:</b>
  <%= @setting.value %>
</p>

<p>
  <b>Note:</b>
  <%= @setting.note %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
