<p id="notice"><%= notice %></p>
<h3> Customer Basic </h3>

<table class="pure-table">
  <thead>
    <tr>
      <td>Basic Info</td>  <td> Detail Info</td>
    </tr>
  </thead>
  <tr>
    <td>Customer:<%= @customer.name %></td>
    <td>Since:<%= @customer.since %></td>
  </tr>
  <tr>
    <td>Address:<%= @customer.address %></td>
    <td>balance:<%= @customer.balance %></td>
  </tr>
  <tr>
    <td>Contact:<%= @customer.telephone %></td>
    <td>Payment:<%= @customer.name %></td>
  </tr>
  <tr>
    <td>Payment:<%= @customer.contact %></td>
    <td>Type: <%= @customer.name %></td>
  </tr>
</table>

<h3> Contacts </h3>
<table class="pure-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Mobile</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Note</th>
      <th>Company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.title %></td>
    <td><%= contact.mobile %></td>
    <td><%= contact.telephone %></td>
    <td><%= contact.email %></td>
    <td><%= contact.note %></td>
    <td><%= contact.customer_id %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h3>Customer orders</h3>
<table class="pure-table">
  <thead>
    <tr>
      <th>CustomerID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.customer_id %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h3>opportunities</h3>
<table class="pure-table">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Project type</th>
      <th>Solution</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @opportunities.each do |opportunity| %>
  <tr>
    <td><%= opportunity.priority %></td>
    <td><%= opportunity.project_type %></td>
    <td><%= opportunity.solution %></td>
    <td><%= opportunity.note %></td>
    <td><%= link_to 'Show', opportunity %></td>
    <td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
    <td><%= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
