<!-- < if notice >
  <p id="notice" class="alert alert-info" role="alert"><= notice %</p>
< end > -->
<ul class="list-inline">
  <li><%=t(:since)%>:<%=@customer.since%></li>
  <li><%=t(:currency)%>:<%= @customer.currency %></li>
  <li><%=t(:payment_term)%>:<%= @customer.payment %></li>
  <li><%=t(:credit)%>:<%= @customer.credit %></li>
</ul>
<h5><%=t(:bill)%><%=t(:address)%>:<small><%= @customer.address %></small>,
    <%=t(:bill)%><%=t(:contact)%>:<small><%= @customer.contact %></small>,
    <%=t(:telephone)%>:<small><%= @customer.telephone %></small></h5>

<h5><%=t(:ship)%><%=t(:address)%>:<small><%= @customer.ship_address %></small>,
    <%=t(:ship)%><%=t(:contact)%>:<small><%= @customer.ship_contact %></small>,
    <%=t(:ship)%><%=t(:telephone)%>:<small><%= @customer.ship_telephone %></small>
<%= link_to t('.edit',default: t("helpers.links.edit")), edit_customer_path(@customer) %></h5>


<h3> <%=t(:contact)%>
<button type="button" class="btn btn-mini btn-primary ajax-new"
  data= <%= @customer.id %> id="/contacts"><%=t(:new_contact)%></button>
</h3>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%=t(:name)%></th>
      <th><%=t(:title)%></th>
      <th><%=t(:mobile)%></th>
      <th><%=t(:telephone)%></th>
      <th><%=t(:email)%></th>
      <th><%=t(:note)%></th>
    </tr>
  </thead>

  <% @contacts.each do |contact| %>
    <tr>
      <td><%= best_in_place contact, :name, :type => :input %></td>
      <td><%= best_in_place contact, :title, :type => :input %></td>
      <td><%= best_in_place contact, :mobile, :type => :input %></td>
      <td><%= best_in_place contact, :telephone, :type => :input %></td>
      <td><%= best_in_place contact, :email, :type => :input %></td>
      <td><%= best_in_place contact, :note, :type => :input %></td>
    </tr>
  <% end %>
</table>

<%= render("shared/sales_orders_list") %>

<h3><%=t(:opportunities)%>
<button type="button" class="btn btn-mini btn-primary ajax-new" data= <%= @customer.id %> id="/opportunities">new opportunity</button>
</h3>

<% @opportunities.each do |opportunity| %>
    <h4>
      <p class="bg-success">Priority:<%= opportunity.priority %> Project type: <strong><%= opportunity.project_type %>
      </strong> solution:<strong><%= opportunity.solution %> </strong>
        <%= link_to('edit', edit_opportunity_path(opportunity))%>
      </br>
      Note:<%= opportunity.note %>
      </p>
    </h4>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Date </th>
        <th>-</th>
        <th>Status</th>
        <th>Issue</th>
        <th>Todo des</th>
        <th>Todo Status</th>
        <th>Assign</th>
      </tr>
    </thead>

    <% @oppostatuses.each do |oppostatus| %>
      <% if oppostatus.opportunity_id == opportunity.id %>
      <% keyman = @users.map{|user| [user.id, user.name]} %>
      <tr>
        <td><%= oppostatus.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= best_in_place oppostatus, :status_mark, :type => :select, :collection => Oppostatus::STATUS_LABEL  %></td>
        <td><%= best_in_place oppostatus, :status, :type => :input %></td>
        <td><%= best_in_place oppostatus, :issue, :type => :input %></td>
        <td><%= best_in_place oppostatus, :todo_description, :type => :input %></td>
        <td><%= best_in_place oppostatus, :todo_status, :type => :select, :collection => Oppostatus::STATUS_FLAG %></td>
        <td><%= best_in_place oppostatus, :user_id, :type => :select, :collection => keyman %></td>
      </tr>
      <% end %>
    <% end %>
    <tr>
      <td COLSPAN=7>
      <button type="button" class="btn btn-mini btn-primary ajax-new"
      data= <%= opportunity.id %> data-2= <%= session[:user_id] %>
      id="/oppostatuses">new oppostatus</button>
      </td>
    </tr>
  </table>
<% end %>

<br />
