<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @customer.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2><%= pluralize(@customer.errors.count, "error") %> <%=t(:prohibited_save)%>:</h2>

    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="control-group">
    <div class="row">
      <div class="col-xs-2">
        <%= f.label "#{t(:customer)}#{t(:name)}", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'text_field', placeholder:'Company *name*' %>
        </div>
      </div>
      <div class="col-xs-2">
        <%= f.label "#{t(:customer)}#{t(:full_name)}", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :full_name, :class => 'text_field', placeholder:'Company full name' %>
        </div>
      </div>     
      <div class="col-xs-2">
        <%= f.label "#{t(:sales_type)}", :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:sales_type, Customer::SALES_TYPES) %>
        </div>
      </div>       
      <div>
        <div class="col-xs-2">
          <div class="control-group">
            <%= f.label t(:since), :class => 'control-label' %>
            <div class="controls">
              <%= f.date_select :since, :class => 'date_select' %>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div><hr></div>
  <div class="row">
    <div class="col-xs-2">
      <div class="control-group">
        <%= f.label t(:currency), :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:currency, Customer::CURRENCY_TYPES) %>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="control-group">
        <%= f.label t(:payment_term), :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:payment, Order::PAYMENT_TYPES) %>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="control-group">
        <%= f.label t(:credit), :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :credit, :class => 'text_field' %>
        </div>
      </div>
    </div>
  </div>

  <div><hr></div>
  <div class="row">
    <div class="col-xs-6">
      <div class="control-group">
        <%= f.label "#{t(:bill)}#{t(:address)}", :class => 'control-label'%>
        <div class="controls">
          <%= f.text_area :address, :class => 'text_area',:rows=> 4, placeholder:'Please enter address'  %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "#{t(:bill)}#{t(:contact)}", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :contact, :class => 'text_field', placeholder:'Please enter contact name' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "#{t(:bill)}#{t(:telephone)}", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :telephone, :class => 'text_field',placeholder:'0510-6682208' %>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="control-group">
        <%= f.label "#{t(:ship)}#{t(:address)}", :class => 'control-label'%>
        <div class="controls">
          <%= f.text_area :ship_address, :class => 'text_area',:rows=> 4, placeholder:'Please enter address'  %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "#{t(:ship)}#{t(:contact)}", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :ship_contact, :class => 'text_field', placeholder:'Please enter contact name' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label "#{t(:ship)}#{t(:telephone)}", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :ship_telephone, :class => 'text_field',placeholder:'0510-6682208' %>
        </div>
      </div>
    </div>
  </div>

  <div><hr></div>
  <div class="form-actions">
    <p class="text-center">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  customers_path, :class => 'btn' %>
    </p>
  </div>
<% end %>
