<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @customer.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', placeholder:'Company *name*' %>
    </div>

    <%= f.label :currency, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:currency, Customer::CURRENCY_TYPES) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label'%>
    <div class="controls">
      <%= f.text_area :address, :class => 'text_area',:rows=> 4, placeholder:'Please enter address'  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact, :class => 'text_field', placeholder:'Please enter contact name' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telephone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telephone, :class => 'text_field',placeholder:'0510-6682208' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :since, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :since, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:payment, Order::PAYMENT_TYPES) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :balance, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :balance, :class => 'text_field', :value => 0 %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>
