<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t(:customer) %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= t(:credit) %></th>
      <th><%= t(:name) %></th>
      <th><%= t(:address) %></th>
      <th><%= t(:telephone) %></th>
      <th><%= t(:contact) %></th>
      <th><%= t(:payment_term) %></th>
      <th><%= t(:currency) %></th>
      <th><%= t(:since) %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.credit.to_i %></td>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.address %></td>
        <td><%= customer.telephone %></td>
        <td><%= customer.contact %></td>
        <td><%= customer.payment %></td>
        <td><%= customer.currency %></td>
        <td><%= customer.since %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'new customer', new_customer_path,:class => "btn btn-primary" %>
<!-- <button type="button" class="btn btn-primary ajax-new" id="/customers">new customer</button> -->
