<h1>Listing customers</h1>

<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Since</th>
      <th>Balance</th>
      <th>Contact</th>
      <th>Telephone</th>
      <th></th>
    </tr>
  </thead>

<% @customers.each do |customer| %>
  <tr class="<%= cycle('pure-table-odd', 'pure-table-even') %>">
    <td><%= link_to customer.name, customer %></td>
    <td><%= customer.address %></td>
    <td><%= customer.since %></td>
    <td><%= customer.balance %></td>
    <td><%= customer.contact %></td>
    <td><%= customer.telephone %></td>
    <td><%= link_to 'Show', customer %></td>
  </tr>

<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path, :remote => true %>
