<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t(:customer) %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:full_name) %></th>     
      <th><%= t(:sales_type) %></th> 
      <th><%= t(:credit) %></th>
      <th><%= t(:address) %></th>
      <th><%= t(:telephone) %></th>
      <th><%= t(:contact) %></th>
      <th><%= t(:payment_term) %></th>
      <th><%= t(:currency) %></th>
      <th><%= t(:since) %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.full_name %></td>
        <td><%= customer.sales_type %></td>
        <td><%= customer.credit.to_i %></td>
        <td><%= customer.address %></td>
        <td><%= customer.telephone %></td>
        <td><%= customer.contact %></td>
        <td><%= customer.payment %></td>
        <td><%= customer.currency %></td>
        <td><%= customer.since %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'new customer', new_customer_path,:class => "btn btn-primary" %>
<!-- <button type="button" class="btn btn-primary ajax-new" id="/customers">new customer</button> -->



<p>
</br>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Advanced: Export, Import customers
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <h4>Export Customers:</h4>
    <%= link_to "export csv", customers_path(format: "csv"),:class => "btn btn-primary" %>|
    <%= link_to "export Excel", customers_path(format: "xls"),:class => "btn btn-primary" %>
    
    <h4>Import Customers </h4>
    <%= form_tag import_customers_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import customers",  :class=>"btn btn-primary"%>
    <% end %>  
  </div>
</div>
</br>