<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Since</th>
    <th>Balance</th>
    <th>Contact</th>
    <th>Telephone</th>
    <th></th>
    <th></th>    
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.address %></td>
    <td><%= customer.since %></td>
    <td><%= customer.balance %></td>
    <td><%= customer.contact %></td>
    <td><%= customer.telephone %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer), :remote => true %></td>    
  </tr>

<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path, :remote => true %>
