<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:telephone) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:payment) %></th>
      <th><%= model_class.human_attribute_name(:balance) %></th>
      <th><%= model_class.human_attribute_name(:since) %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.id, customer_path(customer) %></td>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.address %></td>
        <td><%= customer.telephone %></td>
        <td><%= customer.contact %></td>
        <td><%= customer.payment %></td>        
        <td><%= customer.balance %></td>
        <td><%= customer.since %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'new customer', new_customer_path,:class => "btn btn-primary" %>
<!-- <button type="button" class="btn btn-primary ajax-new" id="/customers">new customer</button> -->
