<p id="notice"><%= notice %></p>

<!-- Quotation header -->
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>
        <%=image_tag('sicomm_logo.jpg') %><%= current_user.settings(:company).name_zh %>
      </h2>
      <table class="table">
        <thead>
          <tr>
            <td>
              <h5><%= current_user.settings(:company).name_zh %></h5>
              <h5><%= current_user.settings(:company).address_zh %></h5>
              <h5>Tel:051066682208 Fax: 051066682208</h5>
            </td>
            <td>
              <h4 class="text-right"> <%=t(:show_date)%>:<%= @quotation.created_at.strftime("%F") %></h4>
              <h4 class="text-right"> <%=t(:sheet_number)%>#:<%= @quotation.quotation_number %></h4>
              <h4 class="text-right"> <%= t(:payment_term) %> :<%= @quotation.customer.payment %></h4>
            </td>
          </tr>
        </thead>
        <tr><td colspan = "2"><h3 class="text-center"> <%= t(:quotation) %> </h3></td></tr>
        <tr><td> <h4>To:
        <% if @quotation.customer.full_name.nil? %>
          <%= @quotation.customer.name %>  
        <% else %>
          <%= @quotation.customer.full_name %>         
        <% end %>
        </h4> </td>
            <td><h4>From: <%= current_user.settings(:company).name_zh %></h4></td>
        </tr>
      </table>

    </div>
  </div>

<!-- Quotation price list -->
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead> <tr> 
      <td> id </td>
      <td> <%= t(:part_number) %></td>
      <td> <%= t(:product_name) %></td>
      <td> <%= t(:unit_price_with_VAT) %> </td>
      <td> <%= t(:order_quantity) %> </td>
      <td> <%= t(:remark) %> </td> 
      </tr> </thead>
      <% @quotation.prices.each_with_index do |price, index| %>
        <tr>
        <td><%= index+1 %></td>     
        <td><%= price.item.partNo %></td>
        <td><%= price.item.name %></td>
        <td>RMB <%= price.price %></td>
        <td><%= price.condition %> pcs</td>
        <td></td>
        </tr>
      <% end %>
      <tr><td> <%= t(:remark) %> </td><td colspan="5"><%= @quotation.remark %></td></tr>
    </table>
  </div>

  <div class="panel-footer">
    <%= link_to 'Edit', edit_quotation_path(@quotation) %> |
    <%= link_to 'Destroy', @quotation, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <button type="button" class="btn btn-link btn-primary" data-toggle="modal"
    data-target=".bs-quotation-modal-lg"><%=t(:quotation)%></button>
  </div> 
</div>


<!-- Large modal Quotation-->
<div class="modal fade bs-quotation-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

        <%= render("quotation")%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href= <%="#{quotation_path(@quotation)}.pdf"%> class="btn btn-primary" target="_blank">Print Quotation</a>
      </div>
    </div>
  </div>
</div>
