<div id="orderHeaderDiv">
	<%= render partial: 'orderHeader' %>
</div>

<%= form_for(@order, html: { multipart: true }) do |f| %>
	<div class="panel panel-default">
		<div class="panel-heading"> <h3 class="panel-title">Order cart lineitems</h3></div>
		<div class="panel-body">
			<div id="cart">
				<%= render(@cart, :exchange_rate => @order.exchange_rate) %>
				<strong>Remark:<%= f.text_field :remark,:size => 80 %>
					<%= "Exchange rate: #{@order.exchange_rate}" if @order.customer.currency == 'usd' %>
				</strong>
			</div>
		</div>
		<div class="panel-footer">
		  <% if @order.errors.any? %>
		    <div id="error_explanation" class="alert alert-danger" role="alert">
		      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

		      <ul>
		      <% @order.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

	    <%= f.hidden_field :name %>
	    <%= f.hidden_field :address %>
	    <%= f.hidden_field :telephone %>
	    <%= f.hidden_field :ship_contact %>
	    <%= f.hidden_field :ship_address %>
	    <%= f.hidden_field :ship_telephone %>
	    <%= f.hidden_field :pay_type %>

			<div>
				  <%= f.file_field :document %>
			</div>

      <% @order.exchange_rate = 2 if @order.exchange_rate.nil? %>
			<div class="actions">
				Customer PO#:<%= f.text_field :order_number,:size => 20 %>
				Received date#:<%= DateTime.now.to_date %>
		    <%= f.submit 'Place Customer Order', :class=>"btn btn-primary" %>
        <% if @order.customer.currency == 'USD'%>
					Exchange rate:
					<%= f.number_field :exchange_rate, :class => 'number_field', :step =>'any', :id =>'exchange_rate' %>
				<% else %>
	    		<%= f.hidden_field :exchange_rate %>
        <% end %>
		  </div>
		</div>
	</div>
<% end %>
