<div class="panel panel-default">
    <!-- <div class="panel-heading"><h3>Customer Order<h3></div> -->
    <div class="panel-body">

      <table class="table">
        <thead>
          <tr>
            <td>
              <h3><%= @order.customer.name %> </h3>
            </td>
            <td>
              <h4 class="text-right"> Date: <%= DateTime.now.to_date %></h4>
              <h4 class="text-right"> Payment:TT in advance</h4>
            </td>
          </tr>
        </thead>
        <tr><td colspan = "2"><h3 class="text-center"> Customer Order</h3></td></tr>
        <tr><td><h4>Bill to:
          <a type="button" class="btn btn-primary btn-sm" data-toggle="modal"
          data-target="#customersModal">
            SelectCustomer
          </a> <%= @order.customer.name %> </h4>
        </td>  <td><h4> Ship to:</h4></td></tr>

        <tr><td>Address:<%= @order.address %></td> <td>Address:<%= @order.ship_address %></td></tr>
        <tr><td>Contact:<%= @order.name %></td> <td>Contact:<%= @order.ship_contact %></td></tr>
        <tr><td>TEL:<%= @order.telephone %></td> <td>TEL:<%= @order.ship_telephone %></td></tr>
      </table>

    </div>
  </div>
