<div class="panel panel-default">
	<div class="panel-heading">
		<h4> Order Header </h4>
	</div>

	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<td>Bill to:
						<a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#customersModal">
							SelectCustomer
						</a>
					</td>
					<td> Ship to:</td>
				</tr>
			</thead>
			<%
					customer_info = Array.new(8," ")
					customer_label= ["Customer:","address:","contact:","TEL:","", "adress:","contact:","TEL"]
					if @customer.nil?
					else
						customer_info = [@customer.name.to_s, @customer.address.to_s, @customer.contact.to_s,
							@customer.telephone.to_s,'', 'depot_addr', 'depot_contact', 'depot_tel']
				  end
			%>
			<tr><td><%= customer_label[0] %><%= customer_info[0] %> </td>  <td><%= customer_label[4] %><%= customer_info[4] %> </td></tr>
			<tr><td><%= customer_label[1] %><%= customer_info[1] %> </td>  <td><%= customer_label[5] %><%= customer_info[5] %> </td></tr>
			<tr><td><%= customer_label[2] %><%= customer_info[2] %> </td>  <td><%= customer_label[6] %><%= customer_info[6] %> </td></tr>
			<tr><td><%= customer_label[3] %><%= customer_info[3] %> </td>  <td><%= customer_label[7] %><%= customer_info[7] %> </td></tr>

		</table>
	</div>
</div>
