<!-- Large modal Quotation-->
<div class="modal fade bs-quotation-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Quotation header -->
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>
                <%=image_tag('sicomm_logo.jpg') %>无锡士康通讯技术有线公司
              </h2>
              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <h5>Wuxi Sicomm Communication Tech</h5>
                      <h5>Address: B building #21 road, Wuxi </h5>
                      <h5>Tel:051066682208 Fax: 051066682208</h5>
                    </td>
                    <td>
                      <h4 class="text-right"> Date: <%= @order.created_at.to_date %></h4>
                      <h4 class="text-right"> Quotation#:Q<%= @order.created_at.to_date %></h4>
                      <h4 class="text-right"> Payment:<%= @order.pay_type %></h4>
                    </td>
                  </tr>
                </thead>
                <tr><td colspan = "2"><h3 class="text-center"> Quotation</h3></td></tr>
                <tr><td><h4>ATTN: <%= @order.customer.name %></h4></td>
                    <td><h4>From: 无锡士康通讯技术有线公司</h4></td>
                </tr>

              </table>

            </div>
          </div>
        </div>

        <!-- quotation details, all quotations use RMB as default price-->
        <div class="cart_title"> Quotation Details </div>
        <table class="table">
        	<thead>
        		<tr>
        			<th><h4>#</h4></th>
        			<th><h4>Product name</h4></th>
        			<th><h4>PartNo.</h4></th>
        			<th><h4>Qty</h4></th>
        			<th><h4>Price</h4></th>
        			<th><h4>Suble Total</h4></th>
        			<th><h4>Remark</h4></th>
        		</tr>
        	</thead>

        	<% @order.line_items.each do |line_item| %>
        		<tr>
        			<td>1 </td>
        			<td><%= line_item.full_name %> </td>
        			<td><%= line_item.full_part_number %> </td>
        			<td><%= line_item.quantity %> </td>
        			<% line_price = line_item.show_currency_price(1, 'RMB') %>
        			<td><%= number_to_currency(line_price, unit: '¥') %> </td>
        	    <td><%= number_to_currency(line_item.total_currency_price(1,'RMB'), unit: '¥') %></td>
        			<td></td>
        		</tr>
            <tr><td colspan="7"> <strong>Remark:</strong><%= @order.remark%></td></tr>
        	<% end %>
        </table>


        <hr>
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Received and checked by</h4>
              </div>
              <div class="panel-body">
                <p> <%= @order.customer.name %> </p>
                <p> _</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="span7">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>For and on behalf of</h4>
                </div>
                <div class="panel-body">
                  <p>
                    Wuxi Sicomm Communication Technologies,Inc.
                  </p>
                  <p> AUTHORIZED SIGNATURE（S）</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Print Invoice</button>
      </div>
    </div>
  </div>
</div>
