<!-- <h1>Listing orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>ContactName</th>
      <th>ShipAddress</th>
      <th>Email</th>
      <th>PayType</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.customer.name %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br /> -->


<h3> Orders with lineitems </h3>
<table class="table">
  <thead>
    <tr>
      <th><h4>#</h4></th>
      <th><h4>Customer</h4></th>
      <th><h4>Date</h4></th>
      <th><h4>Product name</h4></th>
      <th><h4>PartNo.</h4></th>
      <th><h4>Price</h4></th>
      <th><h4>Qty</h4></th>
      <th><h4>Suble Total</h4></th>
    </tr>
  </thead>

  <% @orders.each do |order| %>
    <% order.line_items.each do |line_item|%>
      <tr>
        <td>#<%= link_to(order.id,order_path(order.id)) %></td>
        <td><%= order.customer.name %></td>
        <td><%= order.created_at.strftime("%F") %>
        <td><%= line_item.item.name %> </td>
        <td><%= line_item.item.partNo %> </td>
        <td><%= line_item.item.price %> </td>
        <td>x<%= line_item.quantity %> </td>
        <td><%= number_to_currency(line_item.total_price) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'New Order', new_order_path, :class=>"btn btn-primary" %>
