<p id="notice"><%= notice %></p>

<h3> Customer Orders(PO in lineitems) </h3>
<table class="table">
  <thead>
    <tr>
      <th><h4>#-Customer PO#</h4></th>
      <th><h4>Customer</h4></th>
      <th><h4>Date</h4></th>
      <th><h4>Product name</h4></th>
      <th><h4>PartNo.</h4></th>
      <th><h4>Price</h4></th>
      <th><h4>Qty</h4></th>
      <th><h4>Qty left</h4></th>
      <th><h4>Suble Total</h4></th>
      <th><h4>Action</th></th>
    </tr>
  </thead>

  <% @orders.each do |order| %>

  <% if order.customer.currency == 'RMB'
        currency_unit = '¥'
      else
        currency_unit = '$'
      end %>

  <% if not order.line_items.nil? then %>
    <% order.line_items.each do |line_item|%>
      <tr>
        <td>#<%= link_to(order.id,order_path(order.id)) %>-<%= order.order_number %></td>
        <td><%= order.customer.short_name %></td>
        <td><%= order.created_at.strftime("%F") %>
        <td><%= line_item.item.name %> </td>
        <td><%= line_item.full_part_number %> </td>
        <% line_price = line_item.show_currency_price(order.exchange_rate, order.customer.currency) %>
        <td><%= number_to_currency(line_price, unit: currency_unit) %> </td>
        <td>x<%= line_item.quantity %> </td>
        <td> <%= line_item.quantity - line_item.quantity_issued %> </td>
        <td><%= number_to_currency(line_item.total_currency_price(order.exchange_rate, order.customer.currency), unit: currency_unit) %></td>
        <td>
        <% if line_item.quantity > line_item.quantity_issued then %>
          <%= link_to "issue", new_sales_order_path(:customer_id => order.customer.id) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% end %>
</table>

<%= link_to 'New Order', new_order_path, :class=>"btn btn-primary" %>
