<div class = "inventory_form">

	<!-- Start Overlay -->
	<div id="overlay"></div>

	<!-- Start Special Centered Box; and only one in current page -->
	<div id="customerListBox">
	  	<div id="close">
	  		<button onmousedown="toggleOverlay('customerListBox')">X</button>
	  	</div>
	  <%= render("customerList") %>
	</div>

	<div id="productListBox">
	  	<div id="close">
	  		<button onmousedown="toggleOverlay('productListBox')">X</button>
	  	</div>
	  <%= render("productList") %>
	</div>

	<h1> Customer Order </h1>		
	<fieldset>
		<legend>Order Header</legend>
	    <button onmousedown="toggleOverlay('customerListBox')">SelectCustomer</button>

	    <div id="orderHeaderDiv">
    		<%= render ("orderHeader") %>
	    </div>
	</fieldset>

	<fieldset>
		<legend>Order Details </legend>
		<button onmousedown="toggleOverlay('productListBox')">SelectProduct</button>
		<div id="cart">
			<%= render @cart %>
		</div>
	</fieldset>

	<fieldset>
      	<legend>Please Confirm dispatch info and place order</legend>
   		<%= render 'form' %>
	</fieldset>
</div>
