<h1> <%=t(:order)%> </h1>
<%= render 'customers_modal' %>
<%= render 'shared/products_modal',:locals => { :order => @order} %>

<div id="orderHeaderDiv">
<%= render partial: 'orderHeader'%>
</div>
<%= render :partial => 'form' %>
