<div class = "inventory_form">

	<!-- Start Overlay -->
	<div id="overlay"></div>

	<!-- Start Special Centered Box -->
	<!--
	<div id="specialBox1">
	  	<div id="close">
	  		<button onmousedown="toggleOverlay()">X</button>	
	  	</div>	
	  <%= render("customerList") %>
	</div>	
	-->
	<div id="specialBox">
	  	<div id="close">
	  		<button onmousedown="toggleOverlay()">X</button>	
	  	</div>	
	  <%= render("productList") %>
	</div>	
	
	<fieldset>	
		<legend>Order Summary </legend>
		<h1> Customer Order </h1>		

	    <button onmousedown="toggleOverlay()">SelectCustomer</button>
		<table>
			<tr>
				<td>Customer</td> <td> Supplier</td>
			</tr>
			<tr>
				<td>Name:<%= session[:customer_id] %></td><td>WuxiSicomm tech.Ltd</td>
			</tr>
			<tr>
				<td>Addr:Shenzhen</td><td>Addr: Wuxi Provice</td>
			</tr>
		</table>
	</fieldset>

	<fieldset>	
		<legend>Order Details </legend>
		<button onmousedown="toggleOverlay()">SelectProduct</button>
		<div id="cart">
			<%= render @cart %>
		</div>
	</fieldset>

	<fieldset>
      	<legend>Please Enter Your Detial</legend>
   		<%= render 'form' %>
	</fieldset>
</div>



