<p id="notice"><%= notice %></p>
<h1>Customer Order</h1>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h3>Customer Order<h3></div> -->
  <div class="panel-body">

    <h2>
      <%= @order.customer.name %>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <td>
          </td>
          <td>
            <h4 class="text-right"> Date: <%= @order.created_at.to_date %></h4>
            <h4 class="text-right"> PO#:<%= @order.order_number %></h4>
            <h4 class="text-right"> Payment:<%= @order.pay_type %></h4>
          </td>
        </tr>
      </thead>
      <tr><td colspan = "2"><h3 class="text-center"> Customer Order</h3></td></tr>
      <tr><td><h4>Bill to: <%= @order.customer.name %></h4></td>
          <td><h4> Ship to: <%= @order.customer.name %></h4></td></tr>

      </tr>
      <tr><td>Contact:<%= @order.name %></td> <td>Contact:<%= @order.ship_contact %></td></tr>
      <tr><td>Address:<%= @order.address %></td><td>Address:<%= @order.ship_address %></td></tr>
      <tr><td>Tel:<%= @order.telephone %></td><td>Tel:<%= @order.ship_telephone %></td></tr>
      <!-- <tr>
        <td>Payment:<%= @order.customer.payment %></td>
        <td>Date: 20140501</td>
      </tr> -->
    </table>

  </div>
</div>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h2>Order Details<h2></div> -->
  <div class="panel-body">
    <%= render(@order) %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Edit', edit_order_path(@order) %>

    <button type="button" class="btn btn-link btn-primary" data-toggle="modal"
      data-target=".bs-quotation-modal-lg">Print Quotation</button>
  </div>
</div>


<!-- Large modal Invoice-->
<div class="modal fade bs-quotation-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>
                <%=image_tag('sicomm_logo.jpg') %>无锡士康通讯技术有线公司
              </h2>
              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <h5>Wuxi Sicomm Communication Tech</h5>
                      <h5>Address: B building #21 road, Wuxi </h5>
                      <h5>Tel:051066682208 Fax: 051066682208</h5>
                    </td>
                    <td>
                      <h4 class="text-right"> Date: <%= @order.created_at.to_date %></h4>
                      <h4 class="text-right"> Quotation#:Q<%= @order.created_at.to_date %></h4>
                      <h4 class="text-right"> Payment:<%= @order.pay_type %></h4>
                    </td>
                  </tr>
                </thead>
                <tr><td colspan = "2"><h3 class="text-center"> Quotation</h3></td></tr>
                <tr><td><h4>ATTN: <%= @order.customer.name %></h4></td>
                    <td><h4>From: 无锡士康通讯技术有线公司</h4></td>
                </tr>

              </table>

            </div>
          </div>
        </div>

        <table class="table">
        	<thead>
        		<tr>
        			<th><h4>#</h4></th>
        			<th><h4>Product name</h4></th>
        			<th><h4>PartNo.</h4></th>
        			<th><h4>Qty</h4></th>
        			<th><h4>Price</h4></th>
        			<th><h4>Suble Total</h4></th>
              <th><h4>Remark</h4></th>
        		</tr>
        	</thead>
        	<%= render(@order.line_items) %>
        </table>

        <div class="row text-right">
          <div class="col-xs-2 col-xs-offset-8">
            <p>
              <strong>
                TAX : <br>
                Total : <br>
              </strong>
            </p>
          </div>
          <div class="col-xs-2">
            <strong>
              $1200.00 <br>
              N/A <br>
              $1200.00 <br>
            </strong>
          </div>
        </div>
        <hr>
        remarks:
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Received and checked by</h4>
              </div>
              <div class="panel-body">
                <p> <%= @order.customer.name %> </p>
                <p> _</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="span7">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>For and on behalf of</h4>
                </div>
                <div class="panel-body">
                  <p>
                    Wuxi Sicomm Communication Technologies,Inc.
                  </p>
                  <p> AUTHORIZED SIGNATURE（S）</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Print Invoice</button>
      </div>
    </div>
  </div>
</div>
