<p id="notice"><%= notice %></p>
<h1>Customer Order</h1>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h3>Customer Order<h3></div> -->
  <div class="panel-body">

    <h2>
      <%=image_tag('sicomm_logo.jpg') %>无锡士康通讯技术有线公司
    </h2>
    <table class="table">
      <thead>
        <tr>
          <td>
            <h5>Wuxi Sicomm Communication Tech</h5>
            <h5>Address: B building #21 road, Wuxi </h5>
            <h5>Tel:051066682208 Fax: 051066682208</h5>
          </td>
          <td>
            <h4 class="text-right"> Date: <%= @order.created_at.to_date %></h4>
            <h4 class="text-right"> PO#:PO<%= @order.order_number %></h4>
            <h4 class="text-right"> Payment:<%= @order.pay_type %></h4>
          </td>
        </tr>
      </thead>
      <tr><td colspan = "2"><h3 class="text-center"> Customer Order</h3></td></tr>
      <tr><td><h4>Bill to: <%= @order.customer.name %></h4></td>
          <td><h4> Ship to: <%= @order.customer.name %></h4></td></tr>

      </tr>
      <tr><td>Contact:<%= @order.name %></td> <td>Contact:<%= @order.ship_contact %></td></tr>
      <tr><td>Address:<%= @order.address %></td><td>Address:<%= @order.ship_address %></td></tr>
      <tr><td>Tel:<%= @order.telephone %></td><td>Tel:<%= @order.ship_telephone %></td></tr>
      <!-- <tr>
        <td>Payment:<%= @order.customer.payment %></td>
        <td>Date: 20140501</td>
      </tr> -->
    </table>

  </div>
</div>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h2>Order Details<h2></div> -->
  <div class="panel-body">
    <%= render(@order) %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Edit', edit_order_path(@order) %> |
    <%= link_to 'Back', orders_path %> |

    <button type="button" class="btn btn-link btn-primary" data-toggle="modal"
      data-target=".bs-example-modal-lg">Print Quotation</button> |
    <%= link_to 'Print Invoice' %>
  </div>
</div>


<!-- Large modal Quotation-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-8">
            <h2>
              <%=image_tag('sicomm_logo.jpg') %>无锡士康通讯技术有线公司
            </h2>
            Wuxi Sicomm Communication Tech</br>
            Address: Wuxi</br>
            Tel: 0510-66682208 Fax:0510-66682207</br>
          </div>
          <div class="col-xs-4 text-right">
            <h2>Quotation</h2>
            <h2><small>Quotation #001</small></h2>
            <h4>Payment:<%= @order.customer.payment %></h4>
            <h4>Date: 20140501</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Bill to: <a href="#"><%=@order.customer.name%></a></h4>
              </div>
              <div class="panel-body">
                <dl class="dl-horizontal">
                  <dt>Address</dt>
                  <dd>...</dd>
                  <dt>Contact</dt>
                  <dd>...</dd>
                  <dt>Tel</dt>
                  <dd>...</dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Ship to : <a href="#"><%=@order.customer.name %></a></h4>
              </div>
              <div class="panel-body">
                <dl class="dl-horizontal">
                  <dt>amount:</dt>
                  <dd></dd>
                  <dt>PO#:</dt>
                  <dd></dd>
                  <dt>Tel</dt>
                  <dd>...</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <!-- / end client details section -->

        <%= render(@order) %>

        <div class="row text-right">
          <div class="col-xs-2 col-xs-offset-8">
            <p>
              <strong>
                Sub Total : <br>
                TAX : <br>
                Total : <br>
              </strong>
            </p>
          </div>
          <div class="col-xs-2">
            <strong>
              $1200.00 <br>
              N/A <br>
              $1200.00 <br>
            </strong>
          </div>
        </div>
        <hr>
        remarks:
        <hr>
        <div class="row">
          <div class="col-xs-5">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Bank details</h4>
              </div>
              <div class="panel-body">
                <p>Your Name</p>
                <p>Bank Name</p>
                <p>SWIFT : --------</p>
                <p>Account Number : --------</p>
                <p>IBAN : --------</p>
              </div>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="span7">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h4>Contact Details</h4>
                </div>
                <div class="panel-body">
                  <p>
                    Email : you@example.com <br><br>
                    Mobile : -------- <br> <br>
                    Twitter : <a href="https://twitter.com/tahirtaous">@TahirTaous</a>
                  </p>
                  <h4>Payment should be made by Bank Transfer</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Print Quotation</button>
      </div>
    </div>
  </div>
</div>
