<!-- <p id="notice"><= notice ></p> -->
<h1><%=t(:order)%></h1>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h3>Customer Order<h3></div> -->
  <div class="panel-body">

    <h2>
      <%= link_to @order.customer.name, customer_path(@order.customer) %>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <td>
          </td>
          <td>
            <h4 class="text-right"> <%=t(:show_date)%>: <%= @order.created_at.to_date %></h4>
            <h4 class="text-right"> <%=t(:order_number)%>#:
              <% if @order.document_file_size %>
                <%= link_to(@order.order_number, @order.document.url, target: "_blank")%>
              <% else %>
                <%= @order.order_number %>
              <% end %>

            </h4>
            <h4 class="text-right"><%=t(:payment_term)%>:<%= @order.pay_type %></h4>
          </td>
        </tr>
      </thead>
      <tr><td colspan = "2"><h3 class="text-center"><%=t(:order)%></h3></td></tr>
      <tr><td><h4><%=t(:bill_to)%>: <%= @order.customer.name %></h4></td>
          <td><h4><%=t(:ship_to)%>: <%= @order.customer.name %></h4></td></tr>

      </tr>
      <tr><td><%=t(:contact)%>:<%= @order.name %></td> <td><%=t(:contact)%>:<%= @order.ship_contact %></td></tr>
      <tr><td><%=t(:address)%>:<%= @order.address %></td><td><%=t(:address)%>:<%= @order.ship_address %></td></tr>
      <tr><td><%=t(:telephone)%>:<%= @order.telephone %></td><td><%=t(:telephone)%>:<%= @order.ship_telephone %></td></tr>
      <!-- <tr>
        <td>Payment:<%= @order.customer.payment %></td>
        <td>Date: 20140501</td>
      </tr> -->
    </table>

  </div>
</div>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h2>Order Details<h2></div> -->
  <div class="panel-body">
    <%= render(@order) %>
  </div>

  <div class="panel-footer">
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_order_path(@order) %>

    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                order_path(@order),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>

  <button type="button" class="btn btn-link btn-primary" data-toggle="modal"
    data-target=".bs-quotation-modal-lg"><%=t(:quotation)%></button>

   <%= link_to t(:issue_sales_order), new_sales_order_path(:customer_id => @order.customer.id) %>
  </div>
</div>

<!-- Large modal Quotation-->
<div class="modal fade bs-quotation-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

        <%= render("quotation")%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href= <%="#{quotation_order_path(@order)}.pdf"%> class="btn btn-primary" target="_blank">Print Quotation</a>
      </div>
    </div>
  </div>
</div>
