<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t(:contact) %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= t(:name) %></th>
      <th><%= t(:customer) %></th>
      <th><%= t(:title) %></th>
      <th><%= t(:mobile) %></th>
      <th><%= t(:telephone) %></th>
      <th><%= t(:email) %></th>
      <th><%= t(:address) %></th>
      <th><%= t(:note) %></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <% company = @customers.map{|customer| [customer.id, customer.name]} %>
      <tr>
        <td><%= link_to contact.id, contact_path(contact) %></td>
        <td><%= best_in_place contact, :name, :type => :input %></td>
        <td><%= best_in_place contact, :customer_id, :type => :select, :collection => company %></td>
        <td><%= best_in_place contact, :title, :type => :input %></td>
        <td><%= best_in_place contact, :mobile, :type => :input %></td>
        <td><%= best_in_place contact, :telephone, :type => :input %></td>
        <td><%= best_in_place contact, :email, :type => :input %></td>
        <td><%= best_in_place contact, :address, :type => :input %></td>
        <td><%= best_in_place contact, :note, :type => :input %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-primary ajax-new" id="/contacts">new contact</button>
