<h1>Listing contacts</h1>

<table class="pure-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Mobile</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Note</th>
      <th>Company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= best_in_place contact, :name, :type => :input %></td>
    <td><%= best_in_place contact, :title, :type => :select, :collection => [[1,"CEO"],[2,"Purchaser"],[3,"R&D"],[4,"other"]] %></td>
    <td><%= contact.mobile %></td>
    <td><%= contact.telephone %></td>
    <td><%= contact.email %></td>
    <td><%= contact.note %></td>
    <td><%= best_in_place contact, :customer_id, :type => :input %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Contact', new_contact_path %>
