<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Title:</b>
  <%= @contact.title %>
</p>

<p>
  <b>Mobile:</b>
  <%= @contact.mobile %>
</p>

<p>
  <b>Telephone:</b>
  <%= @contact.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Note:</b>
  <%= @contact.note %>
</p>

<p>
  <b>Belongs:</b>
  <%= @contact.customer_id %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
