<p id="notice"><%= notice %></p>
<div class="cart_title"> Your Cart </div>
<table>
	<% for lineitem in @cart.line_items %>
		<tr>
			<td><%= lineitem.quantity %> &times ;</td>
			<td><%= lineitem.item.partNo %> </td>
			<td class="item_price"><%= number_to_currency(lineitem.total_price)   %></td>
		</tr>	
	<% end %>

	<tr class="total_line">
		<td colspan="2"> Total</td>
		<td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>

<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure' %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
