<%= form_for @price, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @price.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

    <ul>
      <% @price.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <table class="table table-bordered">
    <tr><td colspan="4"><h2 class="text-center"><%=t(:price_request)%></h2></td></tr>
    <tr><td class="active"><%=t(:customer_name)%></td>
        <td><%= f.collection_select(:customer_id, Customer.all, :id, :short_name) %></td>
        <td class="active"><%=t(:request_date)%></td><td><%= f.date_select :created_at,:class => 'date_select'%></td></tr>
    <tr><td class="active"><%=t(:product)%> </td><td><%= f.collection_select(:item_id, Item.all, :id, :partNo) %></td>
        <td class="active"><%=t(:payment_term)%></td><td></td></tr>
    <tr><td class="active"><%=t(:default_price)%></td><td>¥</td>
        <td class="active"><%=t(:last_price)%></td><td>¥</td></tr>
    <tr><td class="active"><%=t(:request_price)%></td><td class="danger">¥<%= f.text_field :price, :class => 'text_field' %></td>
        <td class="active"><%=t(:forecast_condition)%></td><td class="danger"><%= f.text_field :condition, :class => 'text_field' %></td></tr>
    <tr><td class="active"><%=t(:sales_suggestion)%></td><td colspan="3"><%= f.text_field :sales_suggestion, :class => 'text_field' %></td></tr>
    <tr><td class="active"><%=t(:department_suggestion)%></td><td colspan="3"><%= f.text_field :department_suggestion, :class => 'text_field' %></td></tr>
    <tr><td class="active"><%=t(:finance_suggestion)%></td><td colspan="3"><%= f.text_field :finance_suggestion, :class => 'text_field' %></td></tr>
    <tr><td class="active"><%=t(:boss_suggestion)%></td><td colspan="3"><%= f.text_field :boss_suggestion, :class => 'text_field' %></td></tr>
    <tr><td colspan="4"><p class="text-center"><%= f.select(:status, [['request'],['approved']]) %></p></td></tr>
  </table>

  </br>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                prices_path, :class => 'btn' %>
  </div>
<% end %>
