<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

    <ul>
      <% @price.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- Price header -->
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>
        <%=image_tag('sicomm_logo.jpg') %><%= current_user.settings(:company).name_zh %>
      </h2>
      <table class="table">
        <thead>
          <tr>
            <td>
              <h5><%= current_user.settings(:company).name_zh %></h5>
              <h5><%= current_user.settings(:company).address_zh %></h5>
              <h5>Tel:051066682208 Fax: 051066682208</h5>
            </td>
            <td>
              <h5 class="text-right"><%=t(:request_date)%><%= f.date_select :created_at,:class => 'date_select'%></h5>
              <h5 class="text-right"> <%=t(:sheet_number)%>#:<%= f.text_field :price_number, :class => 'text_field' %> </h5>
              <h5 class="text-right"> <%= t(:payment_term) %> :<%= f.select(:payment_terms, Order::PAYMENT_TYPES) %></h5>
            </td>
          </tr>
        </thead>
        <tr><td colspan = "2"><h3 class="text-center"> <%= t(:quotation) %> <%= @price.status %> </h3></td></tr>
        <tr><td> 
        <h4>To:<%= @price.customer.name %>
          <a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#customersModal">
            <%=t(:change_customer)%>
          </a></h4></td>
          <td><h4>From: <%= current_user.settings(:company).name_zh %></h4></td>
        </tr>
      </table>

    </div>
  </div>

  <!-- Price line_items -->
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead> 
        <tr> 
          <td> id </td>
          <td> <%= t(:part_number) %></td>
          <td> <%= t(:product_name) %></td>
          <td> <%= t(:unit_price_with_VAT) %> </td>
          <td> <%= t(:order_quantity) %> </td>
          <td> <%= t(:base_price) %> </td>
          <td> <%= t(:extra_price) %> </td>
          <td> <%= t(:remark) %> </td> 
        </tr> 
        </thead>
        <tr>
          <td><%= 1 %></td>     
          <td>
            <a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#setPricesModal">
              <%=t(:select_set_price)%></a>
            <%= @price.item.partNo if not @price.item.nil? %></td>
          <td><%= @price.item.name if not @price.item.nil? %></td>
          <td><%= f.text_field :price, :class => 'text_field' %></td>
          <td><%= f.text_field :condition, :class => 'text_field' %> pcs</td>
          <td class="input-xs"><%= f.text_field :base_price, :class => 'text_field' %></td>
          <td><%= f.text_field :extra_price, :class => 'text_field' %></td>
          <td><%= f.text_field :remark, :class => 'text_field' %> </td>
        </tr>   
        <tr>
          <td></td>     
          <td></td>
          <td></td>
          <td>¥<%= @price.get_set_price(@price.item_id, @price.condition, @customer.sales_type) %> </td>        
          <td><%= @price.condition %> pcs</td>
          <td colspan="3"> （保密）公司默认参考价格，报价单不显示 </td>
        </tr>        
        <tr><td> <%= t(:remark) %> </td><td colspan="5"><%= current_user.settings(:remark).quotation_remark_zh %></td></tr>
        <tr><td colspan = "8"></td></tr>
        <tr><td colspan = "3" class="bg-danger"> PRR(need department approval)</td>
        <td  colspan = "4"><%= f.check_box(:is_prr) %> <%= f.text_field :department_suggestion, :class => 'text_field' %></td></tr>

        </table>
    </div>  
  </div>

  <%= f.hidden_field :item_id, :value => @price.item_id %>
  <%= f.hidden_field :customer_id, :value => @price.customer_id %>
  <%= f.hidden_field :part_number, :value => @price.item.partNo if not @price.item.nil?%>
  <%= f.hidden_field :customer_name, :value => @price.customer.name if not @price.customer.nil?%>
  <%= f.hidden_field :status, :value => 'requested' %>  
  </br>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                prices_path, :class => 'btn' %>
  </div>
<% end %>

</br>
</br>
