<%- model_class = Price -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Part name</th>
      <th>Part No.</th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th>price/limit price</th>
      <th><%= model_class.human_attribute_name(:payment_terms) %></th>
      <th>status </th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td><%= link_to price.id, price_path(price) %></td>
        <td><%= price.item.name %> </td>
        <td> <%= price.item.partNo %></td>
        <td><%= price.customer.name %></td>
        <td><%= price.price %>/<%=price.item.price %></td>
        <td><%= price.payment_terms %></td>
        <td>Approved</td>
        <td><%= price.created_at.strftime("%F") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_price_path(price), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_price_path,
            :class => 'btn btn-primary' %>
