<%= form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(@item.errors.count, "error") %> <%=t(:prohibited_save)%>:</h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :index, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :index, :class => 'number_field'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :placeholder => '*Product name' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :partNo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :partNo, :class => 'text_field', :placeholder => '*Part number,must unique'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :group, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :group, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :family, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :family, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :package, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :package, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :imageURL, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :imageURL, :class => 'text_field', :value => 'default_chip.png' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :volume, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :volume, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :moq, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :moq, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mop, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :mop, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :assembled, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:assembled, [['no'],['yes'],['addition']]) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :base_item, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :base_item, :class => 'text_field', :placeholder => 'Base part number'%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :extra_item, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :extra_item, :class => 'text_field', :placeholder => 'Extra part number'%>
    </div>
  </div>  

  </br>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn' %>
  </div>


<% end %>
