<h1>Listing items</h1>

<table id="items" class="display" data-source="<%= items_url(format: "json")%>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Partno</th>
      <th>Package</th>
      <th>Imageurl</th>
      <th>Price</th>
      <th>Action</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.partNo %></td>
        <td><%= item.package %></td>
        <td><%= item.imageURL %></td>
        <td><%= item.price %></td>
        <td class="list_actions"><%= link_to 'Show', item %></td>
        <td class="list_actions"><%= link_to 'Edit', edit_item_path(item) %></td>
        <td class="list_actions"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
