<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:partNo) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:package) %></th>
      <th> wiki </th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.id, item_path(item) %></td>
        <td><%= link_to item.partNo, item_path(item)   %></td>
        <td><%= item.name        %></td>
        <td><%= item.description %></td>
        <td><%= item.price       %></td>
        <td><%= item.package     %></td>
        <td><%= link_to('wiki', post_path(item.partNo,:query => "url")) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("new", new_item_path) %>
