<div id="item_list">
<h1>Listing items</h1>

<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Partno</th>
      <th>Package</th>
      <th>Imageurl</th>
      <th>Price</th>
      <th>Action</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>

<% @items.each do |item| %>
  <tr class="<%= cycle('pure-table-odd', 'pure-table-even') %>">
    <td><%= item.name %></td>
    <td><%= item.partNo %></td>
    <td><%= item.package %></td>
    <td><%= item.imageURL %></td>
    <td><%= item.price %></td>
    <td class="list_actions"><%= link_to 'Show', item %></td>
    <td class="list_actions"><%= link_to 'Edit', edit_item_path(item) %></td>
    <td class="list_actions"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>
<br />

<%= link_to 'New Item', new_item_path %>
