<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t(:product) %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>-</th>
      <th>ID</th>
      <th><%=t(:part_number) %></th>
      <th><%=t(:product_name) %></th>
      <th><%=t(:description) %></th>
      <th><%=t(:package) %></th>
      <th><%=t(:price) %></th>
      <th>RMB<%=t(:tax_rate) %></th>
      <th>USD<%=t(:tax_rate) %></th>
      <th><%=t(:mpq)%> </th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <%
        if item.assembled == 'yes'
          flag = 'c'
        elsif item.assembled == 'addition'
          flag = '+'
        else
          flag = 'x'
        end
      %>
      <tr>
        <td><%= flag %></td>
        <td><%= item.index %></td>
        <td><%= link_to item.partNo, item_path(item)   %></td>
        <td><%= item.name        %></td>
        <td><%= item.description %></td>
        <td><%= item.package     %></td>
        <td><%= item.price       %></td>
        <td><%= item.rmb_tax_rate%></td>
        <td><%= item.usd_tax_rate%></td>
        <td><%= item.mop       %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Item', new_item_path, :class=>"btn btn-primary" %>

<p>
  Export Produts:
  <%= link_to "CSV", items_path(format: "csv") %> |
  <%= link_to "Excel", items_path(format: "xls") %>
</p>

<p>Import Products</p>
<% if true %>
  <%= form_tag import_items_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>
