<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t(:product) %></h1>
</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>id</th>    
      <th><%=t(:part_number) %></th>
      <th>Product Group</th>   
      <th><%=t(:family) %></th>   
      <th><%=t(:product_name) %></th>
      <th><%=t(:description) %></th>
      <th><%=t(:package) %></th>
      <th><%=t(:price) %></th>
      <th>RMB<%=t(:tax_rate) %></th>
      <th><%=t(:mpq)%> </th>
      <th><%=t(:assembled)%> </th>
      <th>active</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.partNo, item_path(item)   %></td>
        <td><%= item.group %></td>
        <td><%= item.family %></td>
        <td><%= item.name        %></td>
        <td><%= item.description %></td>
        <td><%= item.package     %></td>
        <td><%= item.price       %></td>
        <td><%= item.rmb_tax_rate%></td>
        <td><%= item.mop       %></td>
        <td><%= item.assembled %></td>
        <td><%= item.index %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Item', new_item_path, :class=>"btn btn-primary" %>


<h4>Export Produts:</h4>
<%= link_to "Export CSV", items_path(format: "csv"),:class => "btn btn-primary" %> |
<%= link_to "Export Excel", items_path(format: "xls"),:class => "btn btn-primary" %>


<h4>Import Products</h4>
<%= form_tag import_items_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import",  :class=>"btn btn-primary"%>
<% end %>

</br>
