<%= form_for @post do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= f.label :title, :class => 'control-label' %>
      <%= f.text_field :title, :class => 'text_field' %>
      <%= f.label :subject, :class => 'control-label' %>
      <%= f.select(:subject,[['Marketing'],['Product'],['Sales'],['R&D']]) %>
      <%= f.label :internal_url, :class => 'control-label' %>
      <%= f.text_field :internal_url, :class => 'text_field' %>
      </br>
      <div class="">
        <%= f.text_area :content, :rows =>50, :cols => 150 %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
  </br>
<% end %>
