<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <div class="btn-group" role="group" aria-label="...">

    <a role="button" class="btn btn-default" href= <%= posts_path(:subject => "Products" ) %> >Products </a>
    <a role="button" class="btn btn-default" href= <%= posts_path(:subject => "Customers" ) %> >Customers</a>
    <a role="button" class="btn btn-default" href= <%= posts_path(:subject => "Suppliers" ) %> >Suppliers</a>
    <a role="button" class="btn btn-default" href= <%= posts_path(:subject => "Marketing" ) %> >Marketing</a>
    <a role="button" class="btn btn-default" href= <%= posts_path(:subject => "Sales" ) %> >Sales    </a>
    <a role="button" class="btn btn-default" href= <%= posts_path(:subject => "R&D" ) %> >R-D      </a>
    <a role="button" class="btn btn-default" href= <%= posts_path(:subject => "Others" ) %> >Others    </a>
  </div>

</div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th><%= model_class.human_attribute_name(:internal_url) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.id, post_path(post) %></td>
        <td><%= link_to(post.title, post_path(post)) %></td>
        <td><%= post.subject %></td>
        <td><%= post.internal_url %></td>
        <td><%= post.created_at.strftime("%F") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
