<%- model_class = Post -%>

<div class="row">
  <div class="col-xs-8 col-md-8">

    <%= markdown(@post.content).html_safe %>

    <div class="panel panel-default">
      <div class="panel-body">
        <strong>title:    </strong> <%= @post.title %>
        <strong>subject:  </strong><%= @post.subject %>
        <strong>short_url:</strong><%= @post.internal_url %>

        <%= link_to t('.back', :default => t("helpers.links.back")),
        posts_path, :class => 'btn'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_post_path(@post), :class => 'btn' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          post_path(@post),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-xs btn-danger' %>

      </div>
    </div>



  </div>
  <div class="col-xs-4 col-md-4">
    </br>
    <ul class="list-group">
      <li class="list-group-item active"><%= @post.subject %><span class="badge"><%= @posts.count %></span></li>
      <% @posts.each do |post| %>
        <li class="list-group-item"><%= link_to(post.title,post_path(post)) %></li>
      <% end %>
    </ul>
  </div>
