<%= form_for @opportunity, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @opportunity.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2><%= pluralize(@opportunity.errors.count, "error") %> <%=t(:prohibited_save)%>:</h2>

    <ul>
      <% @opportunity.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="control-group">
    <%= f.label :priority, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :priority, :class => 'text_field', :placeholder => "[1WT]1-03, [2DT]1-02 .." %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "project_type(markets)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :solution, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :solution, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :customer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:customer_id, options_from_collection_for_select(Customer.all, :id, :name, @opportunity.customer_id)) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                opportunities_path, :class => 'btn' %>
  </div>
<% end %>
