<h3>Listing opportunities</h3>
<table id="opportunities" class="display">
  <thead>
    <tr>
      <th>Project type</th>
      <th>Company</th>
      <th>Priority </th>
      <th>Solution</th>
      <th>Note</th>

    </tr>
  </thead>

  <% @opportunities.each do |opportunity| %>
    <tr>
      <td><%= opportunity.project_type %></td>
      <td><%= opportunity.customer_id %></td>
      <td><%= opportunity.priority %></td>
      <td><%= opportunity.solution %></td>
      <td><%= opportunity.note %></td>
    </tr>
  <% end %>
</table>
