<%- model_class = Opportunity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%= model_class.human_attribute_name(:project_type) %></th>
      <th><%= model_class.human_attribute_name(:solution) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <th>date</th>
      <th>status</th>
      <th>issue</th>
      <th>assign</th>
      <th>todo</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <% @opportunities.each do |opportunity| %>
    <% if  opportunity.oppostatuses.last.nil?
          opportunity_status = ""
          opportunity_issue = ""
          opportunity_todo_status = ""
          opportunity_todo_description = ""
          opportunity_user_id = ""
        else
          opportunity_status = opportunity.oppostatuses.last.status
          opportunity_issue = opportunity.oppostatuses.last.issue
          opportunity_todo_status = opportunity.oppostatuses.last.todo_status
          opportunity_todo_description = opportunity.oppostatuses.last.todo_description
          opportunity_user_id = opportunity.oppostatuses.last.user.name
        end
        %>
      <tr>
        <td><%= link_to opportunity.id, opportunity_path(opportunity) %></td>
        <td><%= link_to opportunity.customer.name, customer_path(opportunity.customer) %></td>
        <td><%= opportunity.project_type %></td>
        <td><%= opportunity.solution %></td>
        <td><%= opportunity.priority %></td>
        <td><%= opportunity.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= opportunity_status %></td>
        <td><%= opportunity_issue %></td>
        <td><%= opportunity_user_id %></td>
        <td><%= opportunity_todo_description %></td>
        <td><%= opportunity_todo_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
