<!-- <p id="notice"><= notice ></p> -->
<h1>Show line_item</h1>

<p>
  <b>Item:</b>
  <%= @line_item.item_id %>
  </br>

  <b>Line_number:</b>
  <%= @line_item.line_number %>
  </br>

  <b>Remark:</b>
  <%= @line_item.remark %>
</p>

<p>
  <b>Cart:</b>
  <%= @line_item.cart_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
