<%= form_for(@sales_order) do |f| %>
  <% if @sales_order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(@sales_order.errors.count, "error") %> prohibited this sales_order from being saved:</h2>

      <ul>
      <% @sales_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id, placeholder: @sales_order.customer.id %>
  </div>
  <div class="field">
    <%= f.label :bill_contact %><br />
    <%= f.text_field :bill_contact %>
  </div>
  <div class="field">
    <%= f.label :bill_address %><br />
    <%= f.text_area :bill_address,:rows=> 4%>
  </div>
  <div class="field">
    <%= f.label :bill_telephone %><br />
    <%= f.text_field :bill_telephone %>
  </div>
  <div class="field">
    <%= f.label :ship_contact %><br />
    <%= f.text_field :ship_contact %>
  </div>
  <div class="field">
    <%= f.label :ship_address %><br />
    <%= f.text_area :ship_address,:rows=> 4 %>
  </div>
  <div class="field">
    <%= f.label :ship_telephone %><br />
    <%= f.text_field :ship_telephone %>
  </div>
  <div class="field">
    <%= f.label :payment_term %><br />
    <%= f.text_field :payment_term %>
  </div>
  <div class="field">
    <%= f.label :exchange_rate %><br />
    <%= f.number_field :exchange_rate, :class => 'number_field',
      :step =>'any', :placeholder => 6.5 %>  
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
