<!-- Large modal Invoice-->
<div class="modal fade bs-packing-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>
                <%=image_tag('sicomm_logo.jpg') %>无锡士康通讯技术有线公司
              </h2>
              <table class="table">
                <thead>
                  <tr>
                    <td>
                      <h5>Wuxi Sicomm Communication Tech</h5>
                      <h5>Address: B building #21 road, Wuxi </h5>
                      <h5>Tel:051066682208 Fax: 051066682208</h5>
                    </td>
                    <td>
                      <h4 class="text-right"> Date: <%= @sales_order.created_at.to_date %></h4>
                      <h4 class="text-right"> PO#:PO<%= @sales_order.serial_number %></h4>
                      <h4 class="text-right"> Payment:<%= @sales_order.payment_term %></h4>
                    </td>
                  </tr>
                </thead>
                <tr><td colspan = "2"><h3 class="text-center"> Packing List</h3></td></tr>
                <tr><td><h4>Bill to: <%= @sales_order.customer.name %></h4></td>
                    <td><h4> Ship to: <%= @sales_order.customer.name %></h4></td></tr>

                </tr>
                <tr><td>Contact:<%= @sales_order.bill_contact %></td> <td>Contact:<%= @sales_order.ship_contact %></td></tr>
                <tr><td>Address:<%= @sales_order.bill_address %></td><td>Address:<%= @sales_order.ship_address %></td></tr>
                <tr><td>Tel:  <%= @sales_order.bill_telephone %></td><td>Tel:<%= @sales_order.ship_telephone %></td></tr>
              </table>

            </div>
          </div>
        </div>


        <div class="cart_title"> Order details </div>
        <table class="table">
        	<thead>
        		<tr>
        			<th><h4>#</h4></th>
        			<th><h4>Product name</h4></th>
        			<th><h4>PartNo.</h4></th>
        			<th><h4>Qty</h4></th>
        			<th><h4>Price</h4></th>
        			<th><h4>Suble Total</h4></th>
        		</tr>
        	</thead>
        	<%= render(@sales_order.line_items) %>
        </table>

        <div class="row text-right">
          <div class="col-xs-2 col-xs-offset-8">
            <p>
              <strong>
                TAX : <br>
                Total : <br>
              </strong>
            </p>
          </div>
          <div class="col-xs-2">
            <strong>
              $1200.00 <br>
              N/A <br>
              $1200.00 <br>
            </strong>
          </div>
        </div>
        <hr>
        remarks:
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Received and checked by</h4>
              </div>
              <div class="panel-body">
                <p> <%= @sales_order.customer.name %> </p>
                <p> _</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="span7">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>For and on behalf of</h4>
                </div>
                <div class="panel-body">
                  <p>
                    Wuxi Sicomm Communication Technologies,Inc.
                  </p>
                  <p> AUTHORIZED SIGNATURE（S）</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href= <%="#{packing_list_sales_order_path(@sales_order)}.pdf"%>
          class="btn btn-primary" target="_blank">Print packing list </a>
      </div>
    </div>
  </div>
</div>
