<%= render 'shared/delivery_status_modal'%>

<!-- <p id="notice"><= notice ></p> -->
<h1><%=t(:sales_order)%></h1>

<div class="panel panel-default">
  <div class="panel-body">

    <h2>
      <%=image_tag('sicomm_logo.jpg') %><%= current_user.settings(:company).name_zh %>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <td>
            <h5>Wuxi Sicomm Communication Tech</h5>
            <h5>Address: B building #21 road, Wuxi </h5>
            <h5>Tel:051066682208 Fax: 051066682208</h5>
          </td>
          <td>
            <h4 class="text-right"><%=t(:show_date)%>:<%= @sales_order.created_at.to_date %></h4>
            <h4 class="text-right"><%=t(:sales_order_number)%>#:<%= @sales_order.serial_number %></h4>
            <h4 class="text-right"><%=t(:payment_term)%>:<%= @sales_order.payment_term %></h4>
            <h4 class="text-right">
              <% unless @sales_order.delivery_date.nil? %>
                <%=t(:ship_date)%>:<%= @sales_order.delivery_date.to_date %>
              <% else %>
                <%=t(:plan_ship_date)%>:
                <% ship_plan_text = '0000-00-00' %>
                <% if @sales_order.delivery_plan %>
                  <% ship_plan_text = @sales_order.delivery_plan.to_date %>
                <% end %>  
                <% if not @sales_order.delivery_date %>
                  <a class="shipLink" href="" data-toggle="modal" data-target="#rescheduleModal"
                    data-id=<%="#{@sales_order.id}" %> > <%=ship_plan_text %> &#x21bb </a>
                <% end %> 

                </br>
                <%= link_to(t(:edit_order), edit_sales_order_path(@sales_order)) %> >
                <%= link_to(t(:produce_order), production_sales_order_path(@sales_order)) %> >
                <%= link_to(t(:ship_now), confirm_sales_order_path(@sales_order)) %>

              <% end %>
            </h4>
          </td>
        </tr>
      </thead>
      <tr><td colspan = "2"><h3 class="text-center"><%=t(:sales_order)%></h3></td></tr>
      <tr><td><h4><%=t(:bill_to)%>: <%= @sales_order.customer.name %></h4></td>
          <td><h4><%=t(:ship_to)%>: <%= @sales_order.customer.name %></h4></td></tr>

      </tr>
      <tr><td><strong><%=t(:contact)%>:</strong><%= @sales_order.bill_contact %></td>
          <td><strong><%=t(:contact)%>:</strong><%= @sales_order.ship_contact %></td></tr>
      <tr><td><strong><%=t(:address)%>:</strong><%= @sales_order.bill_address %></td>
          <td><strong><%=t(:address)%>:</strong><%= @sales_order.ship_address %></td></tr>
      <tr><td><strong><%=t(:telephone)%>:</strong><%= @sales_order.bill_telephone %></td>
          <td><strong><%=t(:telephone)%>:</strong><%= @sales_order.ship_telephone %></td></tr>
    </table>

  </div>
</div>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h5>Order Details<h5></div> -->
  <div class="panel-body">
    <h5><%=t(:order_details)%> </h5>
    <table class="table">
    	<thead>
    		<tr>
    			<th><h4>#</h4></th>
    			<th><h4><%=t(:uniform_number)%></h4></th>
    			<th><h4><%=t(:part_number)%></h4></th>
    			<th><h4><%=t(:quantity)%></h4></th>
    			<th><h4><%=t(:property)%>/<%=t(:remark)%></h4></th>
    			<th><h4><%=t(:plan_ship_date)%></h4></th>
    		</tr>
    	</thead>
      <% if @sales_order.customer.currency == 'RMB'
            currency_unit = '¥'
          else
            currency_unit = '$'
          end %>
    	<% @sales_order.line_items.each_with_index do |line_item, index| %>
<% if false %>        
    		<tr>
    			<td><%= link_to index+1, line_item_path(line_item.id) %> </td>
          <%= form_tag(line_items_path(:line_id => line_item.id, :uniform_number => true)) do %>
            <td><%= text_field_tag(:full_name, "XS2024-376", placeholder: "XS2024-000" ) %></td>
            <td><%= line_item.full_part_number%> </td>
            <td><%= line_item.quantity %> </td>         
            <td><%= text_field_tag(:remark, "V3.01.02GB", placeholder: "V0.00.000" ) %></td>
            <td><%=ship_plan_text %></td>                 
            <td><%= submit_tag(t(:place_uniform_order), :class=>"btn btn-xs btn-primary") %></td>
          <% end %>          
    			<td></td>
    		</tr>
<% end %>
    		<tr>
    			<td><%= link_to index+1, line_item_path(line_item.id) %> </td>
          <%= form_for(line_item) do |f| %>
            <td><%= f.text_field(:full_name, placeholder: "XS2024-000" ) %></td>
            <td><%= line_item.full_part_number%> </td>
            <td><%= line_item.quantity %> </td>         
            <td><%= f.text_field(:remark, placeholder: "V0.00.000" ) %></td>
            <td><%=ship_plan_text %></td>                 
            <td><%= f.submit(t(:place_uniform_order), :class=>"btn btn-xs btn-primary") %></td>
          <% end %>          
    			<td></td>
    		</tr>



    	<% end %>

	    <tr><td colspan="7"> <strong><%=t(:remark)%>:</strong>
         <% if currency_unit == '$' %>
           Exchange rate:<%= @sales_order.exchange_rate %>
         <% end %>
         </td></tr>
    </table>
  </div>

  <div class="panel-footer">
    <% if not @sales_order.delivery_date %>
    | <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_sales_order_path(@sales_order) %> |
    <% end %>

    | <a href= <%="#{invoice_sales_order_path(@sales_order)}.pdf"%> class="" target="_blank"><%=t(:invoice)%> </a>
    | <a href= <%="#{packing_list_sales_order_path(@sales_order)}.pdf"%> class="" target="_blank"><%=t(:packing_list)%> </a>

    | <% if @sales_order.delivery_status %>
      <%= "ship:#{@sales_order.delivery_status}" %>
    <% else %>
      <a class="shipLink" href="" data-toggle="modal" data-target="#deliveryStatusModal"
      data-id=<%="#{@sales_order.id}" %> > <%=t(:ship_status)%> </a>
    <% end %>

  </div>
</div>

<%= render('packing_list') %>


<!-- Large modal Invoice-->
<div class="modal fade bs-invoice-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

        <%= render('invoice') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href= <%="#{invoice_sales_order_path(@sales_order)}.pdf"%> class="btn btn-primary" target="_blank">Print Invoice </a>
      </div>
    </div>
  </div>
</div>
