<p id="notice"><%= notice %></p>
<div class="page-header"><h1> Linsting sales orders(in lineitems) </h1></div>
<table class="table">
  <thead>
    <tr>
      <th><h4>SO#</h4></th>
      <th><h4>Customer</h4></th>
      <th><h4>Refer PO#</h4></th>
      <th><h4>Product name</h4></th>
      <th><h4>PartNo.</h4></th>
      <th><h4>Price</h4></th>
      <th><h4>Qty</h4></th>
      <th><h4>Suble Total</h4></th>
      <th><h4>Ship Date</h4></th>
    </tr>
  </thead>

  <% @sales_orders.each do |order| %>
    <% if order.customer.currency == 'RMB'
          currency_unit = '¥'
        else
          currency_unit = '$'
        end
    %>
    <% unless order.line_items.nil? %>
      <% order.line_items.each do |line_item|%>
        <% order_number = find_order_number_from_reference(line_item.refer_line_id) %>
        <tr>
          <td>#<%= link_to(order.id,sales_order_path(order.id)) %></td>
          <td><%= order.customer.short_name %></td>
          <td><%= order_number%></td>
          <td><%= line_item.item.name %> </td>
          <td><%= line_item.full_part_number %> </td>
          <% line_price = line_item.show_currency_price(order.exchange_rate, order.customer.currency) %>
          <td><%= number_to_currency(line_price, unit: currency_unit) %> </td>
          <td>x<%= line_item.quantity %> </td>
          <td><%= number_to_currency(line_item.total_currency_price(order.exchange_rate, order.customer.currency), unit: currency_unit) %></td>
          <td>
            <% if order.delivery_date %>
              <a data-toggle="tooltip" data-placement="top" title="SF201572441752">
                <%= order.delivery_date.to_date%></a>
            <% else %>
              <%= link_to('ship now', confirm_sales_order_path(order.id)) %>
            <% end %>
          <td> </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

</br>
