<!-- <p id="notice"><= notice ></p> -->
<div class="page-header"><h1> <%=t(:sales_orders)%>(<%=t(:show_as_lines)%>) </h1></div>
<table class="table datatable">
  <thead>
    <tr>
      <th><h4><%=t(:sales_order_number)%>#</h4></th>
      <th><h4><%=t(:customer)%></h4></th>
      <th><h4><%=t(:refer_po)%>#</h4></th>
      <th><h4><%=t(:part_name)%></h4></th>
      <th><h4><%=t(:price)%></h4></th>
      <th><h4><%=t(:quantity)%></h4></th>
      <th><h4><%=t(:suble_total)%></h4></th>
      <th><h4><%=t(:uniform_number)%></h4></th>
      <th><h4><%=t(:plan_ship_date)%></h4></th>      
      <th><h4><%=t(:ship_date)%></h4></th>
    </tr>
  </thead>

  <% @sales_orders.each do |order| %>
    <% if order.customer.currency == 'RMB'
          currency_unit = '¥'
        else
          currency_unit = '$'
        end
    %>
    <% unless order.line_items.nil? %>
      <% order.line_items.each do |line_item|%>
        <% order_number = find_order_number_from_reference(line_item.refer_line_id) %>
        <tr>
          <td>#<%= link_to(order.serial_number, sales_order_path(order.id)) %>-<%= link_to(order.id, sales_order_path(order.id)) %></td>
          <td><%= order.customer.name %></td>
          <td><%= order_number%></td>
          <td><%= line_item.full_part_number %> </td>
          <% line_price = line_item.show_currency_price(order.exchange_rate, order.customer.currency) %>
          
          <% if line_item.price.nil? then %>
          <td><%= number_to_currency(line_price, unit: currency_unit) %> </td>          
          <% else %>
          <td><%= link_to(number_to_currency(line_price, unit: currency_unit), price_path(line_item.price_id))%> </td>
          <% end %> 
          
          <td>x<%= line_item.quantity %> </td>
          <td><%= number_to_currency(line_item.total_currency_price(order.exchange_rate, order.customer.currency), unit: currency_unit) %></td>

          <% if line_item.full_name %>
          <td> <%= line_item.full_name %> </td>
          <% else %>
          <td><%= link_to('produce now', edit_production_sales_order_path(order.id)) %></td>          
          <% end %>
          <td>          
            <% ship_plan_text = '0000-00-00' %>
            <% if order.delivery_plan %>
              <% ship_plan_text = order.delivery_plan.to_date %>
            <% end %>  
            <% if order.delivery_date %>
              <%=ship_plan_text %>
            <% else %>
              <a class="shipLink" href="" data-toggle="modal" data-target="#rescheduleModal"
                data-id=<%="#{order.id}" %> > <%=ship_plan_text %> &#x21bb </a>            
            <% end %>

          </td>
          <td>
            <% if order.delivery_date %>
              <a data-toggle="tooltip" data-placement="top" title="SF201572441752">
                <%= order.delivery_date.to_date%></a>
            <% else %>
              <%= link_to('ship now', confirm_sales_order_path(order.id)) %>
            <% end %>
        </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

</br>
