</br>
<div class="panel panel-default">
    <!-- <div class="panel-heading"><h3>Customer Order<h3></div> -->
    <div class="panel-body">
      <h2>
        <%=image_tag('sicomm_logo.jpg') %>无锡士康通讯技术有线公司
      </h2>
      <table class="table">
        <thead>
          <tr>
            <td>
              <h5>Wuxi Sicomm Communication Tech</h5>
              <h5>Address: B building #21 road, Wuxi </h5>
              <h5>Tel:051066682208 Fax: 051066682208</h5>
            </td>
            <td>
              <h4 class="text-right"> Date: <%= DateTime.now.to_date %></h4>
              <h4 class="text-right"> SO#:<%= @sales_order.serial_number %></h4>
              <h4 class="text-right"> Payment:<%= @sales_order.payment_term %></h4>
            </td>
          </tr>
        </thead>
        <tr><td colspan = "2"><h3 class="text-center"> Sales Order</h3></td></tr>
        <tr><td><h4>Bill to:<%= @sales_order.customer.name%></h4></td>  <td><h4> Ship to:</h4></td></tr>

        <tr><td>Address:<%= @sales_order.bill_address %></td> <td>Address:<%= @sales_order.ship_address %></td></tr>
        <tr><td>Contact:<%= @sales_order.bill_contact %></td> <td>Contact:<%= @sales_order.ship_contact %></td></tr>
        <tr><td>TEL:<%= @sales_order.bill_telephone %></td> <td>TEL:<%= @sales_order.ship_telephone %></td></tr>
      </table>

    </div>
  </div>

<div class="panel panel-default">
	<div class="panel-body">
<h3> Customer Orders(PO in lineitems) </h3>
<table class="table">
  <thead>
    <tr>
      <th><h4>#</h4></th>
      <th><h4>Customer</h4></th>
      <th><h4>Date</h4></th>
      <th><h4>Product name</h4></th>
      <th><h4>PartNo.</h4></th>
      <th><h4>Price</h4></th>
      <th><h4>Qty</h4></th>
      <th><h4>Qty issued</h4></th>
      <th><h4>Suble Total</h4></th>
      <th></th>
    </tr>
  </thead>

  <% @orders.each do |order| %>
  <% unless order.line_items.nil? then %>
    <% order.line_items.each do |line_item|%>
      <% quantity_left = line_item.quantity - line_item.quantity_issued %>
      <% if quantity_left > 0 then %>
        <tr>
          <td>#<%= link_to(order.id,order_path(order.id)) %></td>
          <td><%= order.customer.short_name %></td>
          <td><%= order.created_at.strftime("%F") %>
          <td><%= line_item.item.name %> </td>
          <td><%= line_item.item.partNo %> </td>
          <td><%= line_item.item.price %> </td>
          <td>x<%= line_item.quantity %> </td>
          <td>x<%= line_item.quantity_issued %> </td>

          <%= form_tag(line_items_path(:line_id => line_item.id), remote: true) do %>
          <td><%= text_field_tag(:quantity, quantity_left, placeholder: quantity_left) %></td>
          <td><%= submit_tag("Issue PO Line") %></td>
          <% end %>
          <!-- <td>< button_to 'issue to Cart', line_items_path(:line_id => line_item.id, ) , :remote => true ></td> -->
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <% end %>
</table>
</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div id="cart">
			<%= render @cart %>
		</div>
    <%= form_for(@sales_order) do |f| %>
      <% if @sales_order.errors.any? %>
        <div id="error_explanation" class="alert alert-danger" role="alert">
          <h2><%= pluralize(@sales_order.errors.count, "error") %> prohibited this sales_order from being saved:</h2>
          <ul>
          <% @sales_order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :customer_id %></h4></td>
      <%= f.hidden_field :bill_address, :rows=> 1 %>
      <%= f.hidden_field :ship_address, :rows=> 1 %>
      <%= f.hidden_field :bill_contact %>
      <%= f.hidden_field :ship_contact %></td></tr>
      <%= f.hidden_field :bill_telephone %></td>
      <%= f.hidden_field :ship_telephone %></td></tr>
      <%= f.hidden_field :payment_term %>
      <%= f.hidden_field :serial_number %>

      <% @sales_order.exchange_rate = current_cart_exchange_rate if @sales_order.exchange_rate.nil? %>
      <% if @sales_order.customer.currency == "USD" %>
        <%= f.label :exchange_rate %>
        <%= f.number_field :exchange_rate, :class => 'number_field', :step =>'any', :placeholder => 6.5 %>
      <% else %>
        <%= f.hidden_field :exchange_rate %>
      <% end %>

      <p class="text-center"> <%= f.submit "Place Sales Order", :class=>"btn btn-primary" %> </p>
    <% end %>
	</div>
</div>
