<div class="panel panel-default">
  <!-- <div class="panel-heading"><h3>Sales Order<h3></div> -->
  <div class="panel-body">

    <h2>
      <%=wicked_pdf_image_tag('sicomm_logo.jpg') %><%= current_user.settings(:company).name_zh %>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <td>
            <h5><%= current_user.settings(:company).name_en %></h5>
            <h5><%= current_user.settings(:company).address_zh %> </h5>
            <h5><%= current_user.settings(:company).telephone %></h5>
          </td>
          <td>
            <h4 class="text-right"><%=t(:show_date)%>:<%= @sales_order.created_at.to_date %></h4>
            <h4 class="text-right"><%=t(:sales_order_number)%>#:<%= @sales_order.serial_number %></h4>
            <h4 class="text-right"><%=t(:payment_term)%>:<%= @sales_order.payment_term %></h4>
            <h4 class="text-right">
              
              <!-- (plan)delivery_date and sales_order status_step_progress_bar -->  
              <% unless @sales_order.delivery_date.nil? %>
                <%=t(:ship_date)%>:<%= @sales_order.delivery_date.to_date %>
              <% else %>
                <%=t(:plan_ship_date)%>:
                <% ship_plan_text = '0000-00-00' %>
                <% if @sales_order.delivery_plan %>
                  <% ship_plan_text = @sales_order.delivery_plan.to_date %>
                <% end %>  
                <% if not @sales_order.delivery_date %>
                  <a class="shipLink" href="" data-toggle="modal" data-target="#rescheduleModal"
                    data-id=<%="#{@sales_order.id}" %> > <%=ship_plan_text %> &#x21bb </a>
                <% end %> 
              <% end %>

            </h4>              
          </td>
        </tr>
      </thead>
      <tr><td colspan = "2"><h3 class="text-center"><%=t(:packing_list)%></h3></td></tr>
      <tr>
        <td><h4><%=t(:bill_to)%>:<%= link_to @sales_order.customer.full_name, @sales_order.customer %></h4></td>  
        <td><h4><%=t(:ship_to)%>:<%= @sales_order.customer.full_name %></h4></td></tr>

      <tr><td><strong><%=t(:contact)%>:</strong><%= @sales_order.bill_contact %></td>
          <td><strong><%=t(:contact)%>:</strong><%= @sales_order.ship_contact %></td></tr>
      <tr><td><strong><%=t(:address)%>:</strong><%= @sales_order.bill_address %></td>
          <td><strong><%=t(:address)%>:</strong><%= @sales_order.ship_address %></td></tr>
      <tr><td><strong><%=t(:telephone)%>:</strong><%= @sales_order.bill_telephone %></td>
          <td><strong><%=t(:telephone)%>:</strong><%= @sales_order.ship_telephone %></td></tr>

    </table>

  </div>
</div>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h5>Order Details<h5></div> -->
  <div class="panel-body">
    <h5> Order details </h5>
    <table class="table">
      <thead>
        <tr>
          <th><h4>#</h4></th>
          <th><h4>Product name</h4></th>
          <th><h4>PartNo.</h4></th>
          <th><h4>Qty</h4></th>
          <th><h4>Price</h4></th>
          <th><h4>Suble Total</h4></th>
          <th><h4>Remark</h4></th>
        </tr>
      </thead>
      <% if @sales_order.customer.currency == 'RMB'
            currency_unit = '¥'
          else
            currency_unit = '$'
          end %>
      <% @sales_order.line_items.each do |line_item| %>
        <tr>
          <td>1 </td>
          <td><%= line_item.item.name %> </td>
          <td><%= line_item.item.partNo %> </td>
          <td><%= line_item.quantity %> </td>
          <% line_price = line_item.show_currency_price(@sales_order.exchange_rate, @sales_order.customer.currency) %>
          <td><%= number_to_currency(line_price, unit: currency_unit) %> </td>
          <td><%= number_to_currency(line_item.total_currency_price(@sales_order.exchange_rate,
                    @sales_order.customer.currency), unit: currency_unit) %></td>
          <td></td>
        </tr>
      <% end %>

      <tr><td colspan="7"> <strong>Remarks:</strong>
         <% if currency_unit == '$' %>
           Exchange rate:<%= @sales_order.exchange_rate %>
         <% end %>
         </td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Received and checked by</h4>
      </div>
      <div class="panel-body">
        <p> <%= @sales_order.customer.name %> </p>
        <p> _</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="span7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>For and on behalf of</h4>
        </div>
        <div class="panel-body">
          <p>
            Wuxi Sicomm Communication Technologies,Inc.
          </p>
          <p> AUTHORIZED SIGNATURE（S）</p>
        </div>
      </div>
    </div>
  </div>
</div>
