<p id="notice"><%= notice %></p>

<p>
  <b>Serial number:</b>
  <%= @sales_order.serial_number %>
</p>

<p>
  <b>Customer:</b>
  <%= @sales_order.customer_id %>
</p>

<p>
  <b>Bill contact:</b>
  <%= @sales_order.bill_contact %>
</p>

<p>
  <b>Bill address:</b>
  <%= @sales_order.bill_address %>
</p>

<p>
  <b>Bill telephone:</b>
  <%= @sales_order.bill_telephone %>
</p>

<p>
  <b>Ship contact:</b>
  <%= @sales_order.ship_contact %>
</p>

<p>
  <b>Ship address:</b>
  <%= @sales_order.ship_address %>
</p>

<p>
  <b>Ship telephone:</b>
  <%= @sales_order.ship_telephone %>
</p>

<p>
  <b>Payment term:</b>
  <%= @sales_order.payment_term %>
</p>


<%= link_to 'Edit', edit_sales_order_path(@sales_order) %> |
<%= link_to 'Back', sales_orders_path %>
