<p id="notice"><%= notice %></p>
<h1>Sales Order</h1>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h3>Customer Order<h3></div> -->
  <div class="panel-body">

    <h2>
      <%=image_tag('sicomm_logo.jpg') %>无锡士康通讯技术有线公司
    </h2>
    <table class="table">
      <thead>
        <tr>
          <td>
            <h5>Wuxi Sicomm Communication Tech</h5>
            <h5>Address: B building #21 road, Wuxi </h5>
            <h5>Tel:051066682208 Fax: 051066682208</h5>
          </td>
          <td>
            <h4 class="text-right"> Order Date: <%= @sales_order.created_at.to_date %></h4>
            <h4 class="text-right"> SO#:<%= @sales_order.serial_number %></h4>
            <h4 class="text-right"> Payment:<%= @sales_order.payment_term %></h4>
            <h4 class="text-right"> Ship Date:
              <% if @sales_order.delivery_date %>
                <%= @sales_order.delivery_date.to_date %>
              <% else %>
                <%= link_to('ship now', confirm_sales_order_path(@sales_order)) %>
              <% end %>
            </h4>
          </td>
        </tr>
      </thead>
      <tr><td colspan = "2"><h3 class="text-center"> Sales Order</h3></td></tr>
      <tr><td><h4>Bill to: <%= @sales_order.customer.name %></h4></td>
          <td><h4> Ship to: <%= @sales_order.customer.name %></h4></td></tr>

      </tr>
      <tr><td><strong>Contact:</strong><%= @sales_order.bill_contact %></td>
          <td><strong>Contact:</strong><%= @sales_order.ship_contact %></td></tr>
      <tr><td><strong>Address:</strong><%= @sales_order.bill_address %></td>
          <td><strong>Address:</strong><%= @sales_order.ship_address %></td></tr>
      <tr><td><strong>Tel:  </strong><%= @sales_order.bill_telephone %></td>
          <td><strong>Tel:  </strong><%= @sales_order.ship_telephone %></td></tr>
    </table>

  </div>
</div>

<div class="panel panel-default">
  <!-- <div class="panel-heading"><h5>Order Details<h5></div> -->
  <div class="panel-body">
    <h5> Order details </h5>
    <table class="table">
    	<thead>
    		<tr>
    			<th><h4>#</h4></th>
    			<th><h4>Product name</h4></th>
    			<th><h4>PartNo.</h4></th>
    			<th><h4>Qty</h4></th>
    			<th><h4>Price</h4></th>
    			<th><h4>Suble Total</h4></th>
    			<th><h4>Remark</h4></th>
    		</tr>
    	</thead>
      <% if @sales_order.customer.currency == 'RMB'
            currency_unit = '¥'
          else
            currency_unit = '$'
          end %>
    	<% @sales_order.line_items.each do |line_item| %>
    		<tr>
    			<td>1 </td>
    			<td><%= line_item.item.name %> </td>
    			<td><%= line_item.full_part_number%> </td>
    			<td><%= line_item.quantity %> </td>
    			<% line_price = line_item.show_currency_price(@sales_order.exchange_rate, @sales_order.customer.currency) %>
    			<td><%= number_to_currency(line_price, unit: currency_unit) %> </td>
    	    <td><%= number_to_currency(line_item.total_currency_price(@sales_order.exchange_rate,
    								@sales_order.customer.currency), unit: currency_unit) %></td>
    			<td></td>
    		</tr>
    	<% end %>

	    <tr><td colspan="7"> <strong>Remarks:</strong>
         <% if currency_unit == '$' %>
           Exchange rate:<%= @sales_order.exchange_rate %>
         <% end %>
         </td></tr>
    </table>
  </div>

  <div class="panel-footer">
    <button type="button" class="btn btn-link btn-primary" data-toggle="modal"
      data-target=".bs-invoice-modal-lg">Print Invoice</button> |
    <button type="button" class="btn btn-link btn-primary" data-toggle="modal"
      data-target=".bs-packing-modal-lg">Print Packing List</button>
  </div>
</div>

<%= render('invoice') %>
<%= render('packing_list') %>
