<%= form_for @oppostatus, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @oppostatus.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h2><%= pluralize(@oppostatus.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @oppostatus.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="control-group">
    <%= f.label :status_mark, :class => 'control-label' %>
    <div class="controls">
      <%= f.select( :status_mark,  Oppostatus::STATUS_LABEL ) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :issue, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :issue, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :opportunity_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :opportunity_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :todo_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :todo_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :todo_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :todo_description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:user_id, options_from_collection_for_select(User.all, :id, :name, @oppostatus.user_id)) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                oppostatuses_path, :class => 'btn' %>
  </div>



<% end %>
