<%= form_for @oppostatus, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :issue, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :issue, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :opportunity_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :opportunity_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :todo_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :todo_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :todo_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :todo_description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:user_id, options_from_collection_for_select(User.all, :id, :name)) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                oppostatuses_path, :class => 'btn' %>
  </div>



<% end %>
