<!DOCTYPE html>
<html>
<head>
  <title>WebERP System Online</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "scaffold" %>
  <%= stylesheet_link_tag    "inventory" %>
  <%= stylesheet_link_tag    "items", :all, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body id="inventory">

  <div id = "layout-container">
    <div id = "menu">
      <ul>
        <li class="nav_left"><a href="#">Home    </a></li>
        <li class="nav_left"><%= link_to 'Group#sales', orders_path %></li>
        <li class="nav_right"><a href=<%= admin_path %>>@Qinkunsong</a></li>
        <li class="nav_right"><a href=<%= items_path %>>Products </a></li>
        <li class="nav_right"><a href=<%= customers_path %>>Customers</a></li>
        <li class="nav_right"><a href="#">Suppliers</a></li>
      </ul>
    </div>
    <div id = "layout-content-container">
      <div id = "layout-aside">
        <div>
          <ul class="nav nav-tabs nav-stacked">
              <li class="nav-header">HOME</li>
              <li><a href=<%= orders_path %>>Customer Order</a></li>
              <li><a href="#">Sales Order</a></li>
              <li><a href="#">Invoice</a></li>
              <li><a href="#">Finance</a></li>
              <li class="nav-header">Tools</li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Report</a></li>
              <li><a href=<%= opportunities_path %>>CRM</a></li>
          </ul>
        </div>
      </div>

      <div id = "layout-content">
  			     <%= yield %>
  		</div>
  	</div>
  </div>


</body>
</html>
