<!DOCTYPE html>
<html>
<head>
  <title>WebERP System Online</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = "menu">
    <ul>
      <li class="nav_left"><a href=<%= settings_path %>><i class="fa fa-suitcase"></i>CuteERP </a></li>
      <% if current_user %>
        <li class="nav_left"> <%= link_to "@#{current_user.name}", '/admin' %> </li>
        <li class="nav_left"> <%= link_to t(:logout), '/logout' %></li>
      <% else %>
        <li class="nav_left"><%= link_to t(:login), '/login' %> </li>
        <li class="nav_left"> <%= link_to t(:signup), '/signup' %> </li>
      <% end %>
      <li class="nav_right"><a href=<%= posts_path %>><i class="fa fa-book"></i><%=t(:document)%></a></li>
      <li class="nav_right"><a href="#"><i class="fa fa-truck"></i><%=t(:supplier)%></a></li>
      <li class="nav_right"><a href=<%= items_path %>><i class="fa fa-tags"></i><%=t(:product)%></a></li>
      <li class="nav_right"><a href=<%= customers_path %>><i class="fa fa-group"></i><%=t(:customer)%></a></li>
    </ul>
  </div>

  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-1">
        <h1></h1></br>
        <ul id="side-nav" class="list-group">
            <li class="list-group-item disabled"><%=t(:sales_group)%></li>
            <li class="list-group-item"><a href=<%= opportunities_path %>><%=t(:opportunities)%></a></li>
            <li class="list-group-item"><a href=<%= tasks_path %>><%=t(:tasks)%></a></li>
            <li class="list-group-item"><a href=<%= orders_path %>><%=t(:order)%></a></li>
            <li class="list-group-item"><a href=<%= sales_orders_path %>><%=t(:sales_orders)%></a></li>
            <li class="list-group-item"><a href=<%= prices_path %>><%=t(:price)%> - </a><a href=<%= quotations_path %>><%=t(:quotation)%></a></li>
            <li class="list-group-item disabled"><%=t(:tools)%></li>
            <li class="list-group-item"><a href=<%= contacts_path %>><i class="fa fa-user"></i><%=t(:contact)%></a></li>
            <li class="list-group-item"><a href=<%= new_contact_path %> ><i class="fa fa-user"></i> <%=t(:new_contact)%></a></li>
            <li class="list-group-item"><a href=<%= new_customer_path %> ><i class="fa fa-user"></i><%=t(:new_customer)%></a></li>
            <li class="list-group-item"><a href=<%= settings_path %>><%=t(:settings)%></a></li>
        </ul>
      </div>

      <div class="col-md-11">
            <!-- <= flash_messages > -->
  			    <%= yield %>
  		</div>

    </div>
  </div>

</body>
</html>
