<!DOCTYPE html>
<html>
<head>
  <title>WebERP System Online</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="inventory">

  <div id = "layout-container">
    <div id = "menu">
      <ul>
        <li class="nav_left"><a href="#">Home    </a></li>
        <li class="nav_left"><%= link_to 'Group#sales', orders_path %></li>
        <li class="nav_right"><a href=<%= contacts_path %>>@contacts</a></li>
        <li class="nav_right"><a href=<%= items_path %>>Products </a></li>
        <li class="nav_right"><a href=<%= customers_path %>>Customers</a></li>
        <li class="nav_right"><a href=<%= posts_path %>>Docs</a></li>
        <li class="nav_right"><a href="#">Suppliers</a></li>
      </ul>
    </div>
    <div id = "layout-content-container">
      <div id = "layout-aside">
        <div>
          <ul class="nav nav-tabs nav-stacked">
              <li class="nav-header">Group Sales</li>
              <li><a href=<%= opportunities_path %>>Opportunities</a></li>
              <li><a href="#">Customer Order</a></li>
              <li><a href=<%= orders_path %>>Sales Order</a></li>
              <li><a href="#">Finance</a></li>
              <li class="nav-header">Tools</li>
              <li><a href=<%= prices_path %>>Prices</a></li>
              <li><a href=<%= users_path %>>Users</a></li>
              <li><a href=<%= admin_path %>>MyPanel</a></li>
          </ul>
        </div>
      </div>

      <div id = "layout-content">
  			     <%= yield %>
  		</div>
  	</div>
  </div>


</body>
</html>
