<!DOCTYPE html>
<html>
<head>
  <title>WebERP System Online</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = "menu">
    <ul>
      <li class="nav_left"><a href="#"><i class="fa fa-suitcase"></i>CuteERP </a></li>
      <% if current_user %>
        <li class="nav_left"> <%= link_to "@#{current_user.name}", '/admin' %> </li>
        <li class="nav_left"> <%= link_to "Logout", '/logout' %></li>
      <% else %>
        <li class="nav_left"><%= link_to 'Login', '/login' %> </li>
        <li class="nav_left"> <%= link_to 'Signup', '/signup' %> </li>
      <% end %>
      <li class="nav_right"><a href=<%= contacts_path %>><i class="fa fa-user"></i>Contacts </a></li>
      <li class="nav_right"><a href=<%= posts_path %>><i class="fa fa-book"></i>Docs</a></li>
      <li class="nav_right"><a href=<%= items_path %>><i class="fa fa-tags"></i>Products </a></li>
      <li class="nav_right"><a href=<%= customers_path %>><i class="fa fa-group"></i>Customers</a></li>
      <li class="nav_right"><a href="#"><i class="fa fa-truck"></i>Suppliers</a></li>
    </ul>
  </div>

  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item disabled">Group Sales</li>
            <li class="list-group-item"><a href=<%= opportunities_path %>>Opportunities</a></li>
            <li class="list-group-item"><a href=<%= orders_path %>>Customer Orders</a></li>
            <li class="list-group-item"><a href=<%= sales_orders_path %>>Sales Orders</a></li>
            <li class="list-group-item"><a href=<%= prices_path %>>Prices</a></li>
            <li class="list-group-item disabled">Tools</li>
            <li class="list-group-item"><a href=<%= new_contact_path %> ><i class="fa fa-user"></i> New contact</a></li>
            <li class="list-group-item"><a href=<%= new_customer_path(:simplify => 'yes') %> ><i class="fa fa-user"></i> New customer</a></li>
        </ul>
      </div>

      <div class="col-md-10">
  			    <%= yield %>
  		</div>

    </div>
  </div>

</body>
</html>
